﻿
@{
    ViewData["Title"] = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="vd_title-section clearfix">
    <div class="vd_panel-header no-subtitle">
        <h1>Profile</h1>
    </div>
</div>
<div class="vd_content-section clearfix">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel widget light-widget panel-bd-top">
                <div class="panel-heading no-title"> </div>
                <div class="panel-body">
                    <div class="text-center vd_info-parent"> <img alt="example image" src="~/img/big_bak.jpg"> </div>
                    <div class="row">
                        <div class="col-xs-12"> <a class="btn vd_btn vd_bg-green btn-xs btn-block no-br"><i class="fa fa-check-circle append-icon"></i>Contacts</a> </div>
                        <div class="col-xs-12"> <a class="btn vd_btn vd_bg-grey btn-xs btn-block no-br"><i class="fa fa-envelope append-icon"></i>Send Message</a> </div>
                    </div>
                    <h4 class="font-semibold mgbt-xs-5">Md. Ashikur Rahman</h4>
                    <h5>Machine Learning Engineer</h5>
                    <p>I know that I know nothing</p>
                    <div class="mgtp-20">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td style="width:60%;">Status</td>
                                    <td><span class="label label-success">Active</span></td>
                                </tr>
                                <tr>
                                    <td>Rating</td>
                                    <td><i class="fa fa-star vd_yellow fa-fw"></i><i class="fa fa-star vd_yellow fa-fw"></i><i class="fa fa-star vd_yellow fa-fw"></i><i class="fa fa-star vd_yellow fa-fw"></i><i class="fa fa-star vd_yellow fa-fw"></i></td>
                                </tr>
                                <tr>
                                    <td>Member Since</td>
                                    <td> August 29, 2020 </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- panel widget -->

            <div class="panel widget light-widget">
                <div class="panel-body-list">
                    <h4 class="pd-20 mgbt-xs-0"><i class="fa fa-users mgr-10"></i>Recent Contacts</h4>
                    <div class="content-grid column-xs-2 column-sm-3 height-xs-auto mgbt-xs-20">
                        <div>
                            <ul class="list-wrapper">
                                <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="~/img/avatar.jpg"></span> </a> </li>
                                <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="~/img/avatar-3.jpg"></span> </a> </li>
                                <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="~/img/avatar-4.jpg"></span> </a> </li>
                                <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="~/img/avatar-5.jpg"></span> </a> </li>
                                <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="~/img/avatar-6.jpg"></span> </a> </li>
                                <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="~/img/avatar-7.jpg"></span> </a> </li>
                                <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="~/img/avatar-8.jpg"></span> </a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="closing text-center" style=""> <a href="#">See All Contacts<i class="fa fa-angle-double-right prepend-icon"></i></a> </div>
                </div>
            </div>
            <!-- panel widget -->
        </div>
        <div class="col-sm-9">
            <div class="tabs widget">
                <ul class="nav nav-tabs widget">
                    <li class="active"> <a data-toggle="tab" href="#profile-tab"> Profile <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
                    <li class=""> <a data-toggle="tab" href="#friends-tab"> Contacts <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
                    <li class=""> <a data-toggle="tab" href="#projects-tab"> Invitation <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
                    <li class=""> <a data-toggle="tab" href="#photos-tab"> Photos <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
                    <li> <a data-toggle="tab" href="#groups-tab"> Groups <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
                </ul>
                <div class="tab-content">
                    <div id="profile-tab" class="tab-pane active">
                        <div class="pd-20">
                            <div class="vd_info tr">
                                <a href="@Url.Action("UserInfo", "User")" class="btn vd_btn btn-xs vd_bg-yellow" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                    <i class="fa fa-pencil append-icon"></i> Edit
                                </a>
                            </div>
                            <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="icon-user mgr-10 profile-icon"></i> ABOUT</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row mgbt-xs-0">
                                        <label class="col-xs-5 control-label">First Name:</label>
                                        <div class="col-xs-7 controls">Md Ashikur</div>
                                        <!-- col-sm-10 -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row mgbt-xs-0">
                                        <label class="col-xs-5 control-label">Last Name:</label>
                                        <div class="col-xs-7 controls">Rahman</div>
                                        <!-- col-sm-10 -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row mgbt-xs-0">
                                        <label class="col-xs-5 control-label">User Name:</label>
                                        <div class="col-xs-7 controls">ashik.rafi</div>
                                        <!-- col-sm-10 -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row mgbt-xs-0">
                                        <label class="col-xs-5 control-label">Email:</label>
                                        <div class="col-xs-7 controls">ashik.rafi@thekowcompany.com</div>
                                        <!-- col-sm-10 -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row mgbt-xs-0">
                                        <label class="col-xs-5 control-label">City:</label>
                                        <div class="col-xs-7 controls">Dhaka</div>
                                        <!-- col-sm-10 -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row mgbt-xs-0">
                                        <label class="col-xs-5 control-label">Country:</label>
                                        <div class="col-xs-7 controls">Bangladesh</div>
                                        <!-- col-sm-10 -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row mgbt-xs-0">
                                        <label class="col-xs-5 control-label">Birthday:</label>
                                        <div class="col-xs-7 controls">December 31, 1993</div>
                                        <!-- col-sm-10 -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row mgbt-xs-0">
                                        <label class="col-xs-5 control-label">Interests:</label>
                                        <div class="col-xs-7 controls">Deep Learning, Algorithms, Statistics & Probability</div>
                                        <!-- col-sm-10 -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row mgbt-xs-0">
                                        <label class="col-xs-5 control-label">Website:</label>
                                        <div class="col-xs-7 controls"><a href="https://github.com/ashikrafi/">https://github.com/ashikrafi</a></div>
                                        <!-- col-sm-10 -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row mgbt-xs-0">
                                        <label class="col-xs-5 control-label">Phone:</label>
                                        <div class="col-xs-7 controls">+8801675964080</div>
                                        <!-- col-sm-10 -->
                                    </div>
                                </div>
                            </div>
                            <hr class="pd-10">
                            <div class="row">
                                <div class="col-sm-7 mgbt-xs-20">
                                    <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-file-text-o mgr-10 profile-icon"></i> EXPERIENCE</h3>
                                    <div class="content-list content-menu">
                                        <ul class="list-wrapper">
                                            <li class="mgbt-xs-10"> <span class="menu-icon vd_green"><i class="fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="">Software Enginner</a> at <a href="">Proggasoft</a> <span class="menu-info"><span class="menu-date"> March 2015 ~ August 2016</span></span> </span> </li>
                                            <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="">Sr. Software Engineer</a> at <a href="">Smart Technologies BD Ltd.</a> <span class="menu-info"><span class="menu-date"> September 2016 ~ June 2020</span></span> </span> </li>
                                            <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="">Sr. Software Engineer</a> at <a href="">CutOutWiz</a> <span class="menu-info"><span class="menu-date"> July 2020 ~ Present</span></span> </span> </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-trophy mgr-10 profile-icon"></i> EDUCATION</h3>
                                    <div class="content-list content-menu">
                                        <ul class="list-wrapper">
                                            <li class="mgbt-xs-10"> <span class="menu-icon vd_green"><i class="fa  fa-circle-o"></i></span> <span class="menu-text"> B.Sc. in CSE at <a href="">AIUB</a> <span class="menu-info"><span class="menu-date"> 2011 ~ 2015</span></span> </span> </li>
                                            <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> Student at <a href="">Notre Dame College</a> <span class="menu-info"><span class="menu-date"> 2008 ~ 2010</span></span> </span> </li>
                                            <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> Student at <a href="">Motijheel Model High School</a> <span class="menu-info"><span class="menu-date"> 2004 ~ 2008 </span></span> </span> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- row -->
                            <hr class="pd-10">
                            <div class="row">
                                <div class="col-sm-7">
                                    <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-globe mgr-10 profile-icon"></i> ACTIVITY</h3>
                                    <div class="">
                                        <div class="content-list">
                                            <div data-rel="scroll" class="mCustomScrollbar _mCS_6" style="overflow: hidden;">
                                                <div class="mCustomScrollBox mCS-light" id="mCSB_6" style="position: relative; height: 100%; overflow: hidden; max-width: 100%; max-height: 400px;">
                                                    <div class="mCSB_container" style="position: relative; top: 0px;">
                                                        <ul class="list-wrapper">
                                                            <li> <span class="menu-icon vd_yellow"><i class="fa fa-suitcase"></i></span> <span class="menu-text"> Someone has given me a surprise <span class="menu-info"><span class="menu-date"> ~ 12 Minutes Ago</span></span> </span>  </li>
                                                            <li> <span class="menu-icon vd_blue"><i class=" fa fa-user"></i></span> <span class="menu-text"> Changed my user profile details <span class="menu-info"><span class="menu-date"> ~ 1 Hour 20 Minutes Ago</span></span> </span> </li>
                                                            <li> <span class="menu-icon vd_red"><i class=" fa fa-cogs"></i></span> <span class="menu-text"> My setting is updated <span class="menu-info"><span class="menu-date"> ~ 12 Days Ago</span></span> </span></li>
                                                            <li>  <span class="menu-icon vd_green"><i class=" fa fa-book"></i></span> <span class="menu-text"> Added new article <span class="menu-info"><span class="menu-date"> ~ 19 Days Ago</span></span> </span>  </li>
                                                            <li>  <span class="menu-icon vd_green"><img alt="example image" src="~/img/avatar.jpg"></span> <span class="menu-text"> Changed Profile Pic <span class="menu-info"><span class="menu-date"> ~ 20 Days Ago</span></span> </span> </li>
                                                        </ul>
                                                    </div><div class="mCSB_scrollTools" style="position: absolute; display: block; opacity: 0;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; top: 0px; height: 352px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position: relative; line-height: 352px;"></div></div><div class="mCSB_draggerRail"></div></div></div>
                                                </div>
                                            </div>
                                            <div class="closing text-center" style=""> <a href="#">See All Activities <i class="fa fa-angle-double-right"></i></a> </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- col-sm-7 -->
                                <div class="col-sm-5">
                                    <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-flask mgr-10 profile-icon"></i> SKILL</h3>
                                    <div class="skill-list">
                                        <div class="skill-name"> Deep Learning </div>
                                        <div class="progress  progress-sm">
                                            <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" class="progress-bar progress-bar-success "> <span class="sr-only">90%</span> </div>
                                        </div>
                                    </div>
                                    <div class="skill-list">
                                        <div class="skill-name"> Natural Language Processing </div>
                                        <div class="progress  progress-sm">
                                            <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-danger "> <span class="sr-only">20%</span> </div>
                                        </div>
                                    </div>
                                    <div class="skill-list">
                                        <div class="skill-name"> Image Processing </div>
                                        <div class="progress  progress-sm">
                                            <div style="width: 65%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-warning "> <span class="sr-only">50% Complete</span> </div>
                                        </div>
                                    </div>
                                    <div class="skill-list">
                                        <div class="skill-name"> Graph Algorithms </div>
                                        <div class="progress  progress-sm">
                                            <div style="width: 70%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-info "> <span class="sr-only">60% Complete</span> </div>
                                        </div>
                                    </div>
                                    <div class="skill-list">
                                        <div class="skill-name"> Communication </div>
                                        <div class="progress  progress-sm">
                                            <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" class="progress-bar progress-bar-success "> <span class="sr-only">95% Complete</span> </div>
                                        </div>
                                    </div>
                                    <div class="skill-list">
                                        <div class="skill-name"> Writing </div>
                                        <div class="progress  progress-sm">
                                            <div style="width: 30%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="45" role="progressbar" class="progress-bar progress-bar-warning "> <span class="sr-only">45% Complete</span> </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- col-sm-7 -->
                            </div>
                            <!-- row -->
                        </div>
                        <!-- pd-20 -->
                    </div>
                    <!-- home-tab -->

                    <div id="projects-tab" class="tab-pane">
                        <div class="pd-20">
                            <div class="vd_info tr"> <a class="btn vd_btn btn-xs vd_bg-yellow"> <i class="fa fa-plus append-icon"></i> Send Invitation </a> </div>
                            <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="fa fa-bolt mgr-10 profile-icon"></i> INVITATION</h3>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Logo / Photos</th>
                                        <th>Organizer</th>
                                        <th>Time</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><img height="80" src="~/img/avatar.jpg" alt="example image"></td>
                                        <td>Microsoft </td>
                                        <td class="center">2020/09/27</td>
                                        <td class="center">
                                            <span class="label label-warning">Pending</span>
                                        </td>
                                        <td class="menu-action rounded-btn">
                                            <a class="btn menu-icon vd_bg-green" data-placement="top" data-toggle="tooltip" data-original-title="view">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a class="btn menu-icon vd_bg-yellow" data-placement="top" data-toggle="tooltip" data-original-title="edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a class="btn menu-icon vd_bg-red" data-placement="top" data-toggle="tooltip" data-original-title="delete">
                                                <i class="fa fa-times"></i>
                                            </a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><img height="80" src="~/img/avatar-2.jpg" alt="example image"></td>
                                        <td>Google </td>
                                        <td class="center">2020/09/02</td>
                                        <td class="center">
                                            <span class="label label-danger">Missed</span>
                                        </td>
                                        
                                        <td class="menu-action rounded-btn">
                                            <a class="btn menu-icon vd_bg-green" data-placement="top" data-toggle="tooltip" data-original-title="view">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a class="btn menu-icon vd_bg-yellow" data-placement="top" data-toggle="tooltip" data-original-title="edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a class="btn menu-icon vd_bg-red" data-placement="top" data-toggle="tooltip" data-original-title="delete">
                                                <i class="fa fa-times"></i>
                                            </a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><img height="80" src="~/img/avatar-3.jpg" alt="example image"></td>
                                        <td>Ted Talks </td>
                                        <td class="center">2020/08/13</td>
                                        <td class="center">
                                            <span class="label label-success">Finished</span>
                                        </td>
                                        
                                        <td class="menu-action rounded-btn">
                                            <a class="btn menu-icon vd_bg-green" data-placement="top" data-toggle="tooltip" data-original-title="view">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a class="btn menu-icon vd_bg-yellow" data-placement="top" data-toggle="tooltip" data-original-title="edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a class="btn menu-icon vd_bg-red" data-placement="top" data-toggle="tooltip" data-original-title="delete">
                                                <i class="fa fa-times"></i>
                                            </a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td><img height="80" src="~/img/avatar-4.jpg" alt="example image"></td>
                                        <td>Stanford University </td>
                                        <td class="center">2020/09/02</td>
                                        <td class="center">
                                            <span class="label label-success">Finished</span>
                                        </td>
                                        
                                        <td class="menu-action rounded-btn">
                                            <a class="btn menu-icon vd_bg-green" data-placement="top" data-toggle="tooltip" data-original-title="view">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a class="btn menu-icon vd_bg-yellow" data-placement="top" data-toggle="tooltip" data-original-title="edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a class="btn menu-icon vd_bg-red" data-placement="top" data-toggle="tooltip" data-original-title="delete">
                                                <i class="fa fa-times"></i>
                                            </a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td><img height="80" src="~/img/avatar-5.jpg" alt="example image"></td>
                                        <td>Princeton University </td>
                                        <td class="center">2020/09/02</td>
                                        <td class="center">
                                            <span class="label label-success">Finished</span>
                                        </td>
                                        
                                        <td class="menu-action rounded-btn">
                                            <a class="btn menu-icon vd_bg-green" data-placement="top" data-toggle="tooltip" data-original-title="view">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a class="btn menu-icon vd_bg-yellow" data-placement="top" data-toggle="tooltip" data-original-title="edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a class="btn menu-icon vd_bg-red" data-placement="top" data-toggle="tooltip" data-original-title="delete">
                                                <i class="fa fa-times"></i>
                                            </a>

                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                            <div class="">
                            </div>
                        </div>
                    </div>

                    <div id="photos-tab" class="tab-pane">
                        <div class="pd-20">
                            <div class="vd_info tr"> <a class="btn vd_btn btn-xs vd_bg-yellow"> <i class="fa fa-plus append-icon"></i> Add Photo </a> </div>
                            <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="fa fa-picture-o mgr-10 profile-icon"></i> PHOTOS</h3>
                            <ul id="filters" class="nav nav-pills">
                                <li class="active"><a href="#photos-1" data-filter="*">All</a></li>
                                <li><a href="#photos-2" data-filter=".filter-1">Photos of You</a></li>
                                <li><a href="#photos-3" data-filter=".filter-2">Scenery</a></li>
                                <li><a href="#photos-4" data-filter=".filter-3">Vacation</a></li>
                            </ul>
                            <br>
                            <div class="isotope js-isotope vd_gallery" style="position: relative; height: 3000px;">
                                <div class="gallery-item  filter-1" style="position: absolute; left: 0px; top: 0px;">
                                    <a href="~/img/01.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                        <img alt="example image" src="~/img/01.jpg">
                                        <div class="bg-cover"></div>
                                    </a>
                                    <div class="vd_info">
                                        <h3 class="mgbt-xs-15"><span class="font-semibold">Felicious</span> de louis amigos</h3>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="~/img/01.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                    </div>

                                </div>
                                <div class="gallery-item  filter-2" style="position: absolute; left: 200px; top: 0px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-200px, 200px, 0px);">
                                    <a href="~/img/03.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                        <img alt="example image" src="~/img/03.jpg">
                                        <div class="bg-cover"></div>
                                    </a>
                                    <div class="vd_info">
                                        <h3 class="mgbt-xs-15"><span class="font-semibold">Sola</span> Aprecios</h3>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="~/img/03.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                    </div>
                                </div>

                                <div class="gallery-item  filter-2" style="position: absolute; left: 400px; top: 0px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-400px, 400px, 0px);">
                                    <a href="~/img/08.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                        <img alt="example image" src="~/img/08.jpg">
                                        <div class="bg-cover"></div>
                                    </a>
                                    <div class="vd_info">
                                        <h3 class="mgbt-xs-15"><span class="font-semibold">Lorem</span> ipsum</h3>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="~/img/08.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                    </div>

                                </div>
                                <div class="gallery-item  filter-3" style="position: absolute; left: 0px; top: 200px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(0px, 400px, 0px);">
                                    <a href="~/img/15.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                        <img alt="example image" src="~/img/15.jpg">
                                        <div class="bg-cover"></div>
                                    </a>
                                    <div class="vd_info">
                                        <h3 class="mgbt-xs-15"><span class="font-semibold">Doler</span> sit amet</h3>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="~/img/15.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                    </div>

                                </div>
                                <div class="gallery-item  filter-1" style="position: absolute; left: 200px; top: 200px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-200px, 600px, 0px);">
                                    <a href="~/img/02.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                        <img alt="example image" src="~/img/02.jpg">
                                        <div class="bg-cover"></div>
                                    </a>
                                    <div class="vd_info">
                                        <h3 class="mgbt-xs-15"><span class="font-semibold">Gracias</span> mundo</h3>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="~/img/02.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                    </div>

                                </div>
                                <div class="gallery-item  filter-2" style="position: absolute; left: 400px; top: 200px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-400px, 800px, 0px);">
                                    <a href="~/img/06.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                        <img alt="example image" src="~/img/06.jpg">
                                        <div class="bg-cover"></div>
                                    </a>
                                    <div class="vd_info">
                                        <h3 class="mgbt-xs-15"><span class="font-semibold">Solero</span> dorona</h3>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="~/img/06.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                    </div>



                                </div>
                                <div class="gallery-item  filter-3" style="position: absolute; left: 0px; top: 400px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(0px, 800px, 0px);">
                                    <a href="~/img/08.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                        <img alt="example image" src="~/img/08.jpg">
                                        <div class="bg-cover"></div>
                                    </a>
                                    <div class="vd_info">
                                        <h3 class="mgbt-xs-15"><span class="font-semibold">Weinto</span> grametto</h3>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="~/img/08.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                    </div>

                                </div>
                                <div class="gallery-item  filter-2" style="position: absolute; left: 200px; top: 400px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-200px, 1000px, 0px);">
                                    <a href="~/img/04.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                        <img alt="example image" src="~/img/04.jpg">
                                        <div class="bg-cover"></div>
                                    </a>
                                    <div class="vd_info">
                                        <h3 class="mgbt-xs-15"><span class="font-semibold">Sara</span> he yaso</h3>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="~/img/04.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                    </div>


                                </div>
                                <div class="gallery-item  filter-1" style="position: absolute; left: 400px; top: 400px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-400px, 1200px, 0px);">
                                    <a href="~/img/10.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                        <img alt="example image" src="~/img/10.jpg">
                                        <div class="bg-cover"></div>
                                    </a>
                                    <div class="vd_info">
                                        <h3 class="mgbt-xs-15"><span class="font-semibold">Numero</span> uno</h3>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="~/img/10.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                    </div>



                                </div>

                                <div class="gallery-item   filter-3" style="position: absolute; left: 0px; top: 600px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(0px, 1200px, 0px);">
                                    <a href="~/img/09.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                        <img alt="example image" src="~/img/09.jpg">
                                        <div class="bg-cover"></div>
                                    </a>
                                    <div class="vd_info">
                                        <h3 class="mgbt-xs-15"><span class="font-semibold">Beon</span> dukim</h3>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="~/img/09.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                    </div>
                                </div>
                                <div class="gallery-item  filter-2" style="position: absolute; left: 200px; top: 600px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-200px, 1400px, 0px);">
                                    <a href="~/img/01.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                        <img alt="example image" src="~/img/01.jpg">
                                        <div class="bg-cover"></div>
                                    </a>
                                    <div class="vd_info">
                                        <h3 class="mgbt-xs-15"><span class="font-semibold">Gretia</span> de louis amigos</h3>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="~/img/01.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                    </div>


                                </div>
                                <div class="gallery-item  filter-1" style="position: absolute; left: 400px; top: 600px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-400px, 1600px, 0px);">
                                    <a href="~/img/11.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                        <img alt="example image" src="~/img/11.jpg">
                                        <div class="bg-cover"></div>
                                    </a>
                                    <div class="vd_info">
                                        <h3 class="mgbt-xs-15"><span class="font-semibold">Title</span> de koko</h3>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="~/img/11.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                    </div>

                                </div>
                                <div class="gallery-item  filter-1" style="position: absolute; left: 0px; top: 800px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(0px, 1600px, 0px);">
                                    <a href="~/img/12.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                        <img alt="example image" src="~/img/12.jpg">
                                        <div class="bg-cover"></div>
                                    </a>
                                    <div class="vd_info">
                                        <h3 class="mgbt-xs-15"><span class="font-semibold">Some</span> random text</h3>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="~/img/12.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                    </div>

                                </div>
                                <div class="gallery-item  filter-3" style="position: absolute; left: 200px; top: 800px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-200px, 1800px, 0px);">
                                    <a href="~/img/13.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                        <img alt="example image" src="~/img/13.jpg">
                                        <div class="bg-cover"></div>
                                    </a>
                                    <div class="vd_info">
                                        <h3 class="mgbt-xs-15"><span class="font-semibold">Soleram</span> drago</h3>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="~/img/13.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                    </div>


                                </div>
                                <div class="gallery-item  filter-2" style="position: absolute; left: 400px; top: 800px; transition-property: transform, opacity; transition-duration: 0.4s; transform: translate3d(-400px, 2000px, 0px);">
                                    <a href="~/img/14.jpg" data-rel="prettyPhoto[2]" rel="prettyPhoto[2]">
                                        <img alt="example image" src="~/img/14.jpg">
                                        <div class="bg-cover"></div>
                                    </a>
                                    <div class="vd_info">
                                        <h3 class="mgbt-xs-15"><span class="font-semibold">Gretia</span> de louis </h3>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="~/img/14.jpg" data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                        <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                    </div>


                                </div>

                            </div>

                            <div class="clearfix"></div>

                        </div>
                        <!-- pd-20 -->
                    </div> <!-- photos tab -->
                    <div id="friends-tab" class="tab-pane">
                        <div class="pd-20">
                            <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="fa fa-users mgr-10 profile-icon"></i> CONTACTS</h3>
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#photos-1" data-toggle="tab">Contacts</a></li>
                                <li><a href="#photos-2" data-toggle="tab">Pending Request</a></li>
                                <li><a href="#photos-3" data-toggle="tab">Blacklisted</a></li>
                            </ul>
                            <div class="content-grid column-xs-3 column-sm-4 column-md-4 column-lg-6 height-xs-4 mgbt-xs-20">
                                <div>
                                    <ul class="list-wrapper">
                                        <li>
                                            <a href="#">
                                                <span class="menu-icon"><img src="~/img/avatar.jpg" alt="example image"></span>
                                            </a>
                                            <span class="menu-text">
                                                Md Ashikur Rahman 
                                                <span class="menu-info">
                                                    <span class="menu-date">Dhaka, Bangladesh</span>
                                                    <span class="menu-action">
                                                        <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                                            <i class="fa fa-check"></i>
                                                        </span>
                                                        <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                                            <i class="fa fa-times"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                        <li class="warning">
                                            <a href="#">
                                                <span class="menu-icon"><img src="~/img/avatar-2.jpg" alt="example image"></span>
                                            </a>
                                            <span class="menu-text">
                                                Md Saiful Islam
                                                <span class="menu-info">
                                                    <span class="menu-date">Seattle, USA</span>
                                                    <span class="menu-action">
                                                        <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                                            <i class="fa fa-check"></i>
                                                        </span>
                                                        <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                                            <i class="fa fa-times"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="menu-icon"><img src="~/img/avatar-3.jpg" alt="example image"></span>
                                            </a>
                                            <span class="menu-text">
                                                Md Anik
                                                <span class="menu-info">
                                                    <span class="menu-date">Hawaii, USA</span>
                                                    <span class="menu-action">
                                                        <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                                            <i class="fa fa-check"></i>
                                                        </span>
                                                        <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                                            <i class="fa fa-times"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="menu-icon"><img src="~/img/avatar-4.jpg" alt="example image"></span>
                                            </a>
                                            <span class="menu-text">
                                                Md Russel
                                                <span class="menu-info">
                                                    <span class="menu-date"> Pakli, Pakistan</span>
                                                    <span class="menu-action">
                                                        <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                                            <i class="fa fa-check"></i>
                                                        </span>
                                                        <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                                            <i class="fa fa-times"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="menu-icon"><img src="~/img/avatar-5.jpg" alt="example image"></span>
                                            </a>
                                            <span class="menu-text">
                                                Kim Kuddus
                                                <span class="menu-info">
                                                    <span class="menu-date">Hursa, Turkey</span>
                                                    <span class="menu-action">
                                                        <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                                            <i class="fa fa-check"></i>
                                                        </span>
                                                        <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                                            <i class="fa fa-times"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="menu-icon"><img src="~/img/avatar-6.jpg" alt="example image"></span>
                                            </a>
                                            <span class="menu-text">
                                                Brad Pitan
                                                <span class="menu-info">
                                                    <span class="menu-date">Seattle, USA</span>
                                                    <span class="menu-action">
                                                        <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                                            <i class="fa fa-check"></i>
                                                        </span>
                                                        <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                                            <i class="fa fa-times"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="menu-icon"><img src="~/img/avatar-7.jpg" alt="example image"></span>
                                            </a>
                                            <span class="menu-text">
                                                Neami Dior
                                                <span class="menu-info">
                                                    <span class="menu-date">Los Angeles, USA</span>
                                                    <span class="menu-action">
                                                        <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                                            <i class="fa fa-check"></i>
                                                        </span>
                                                        <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                                            <i class="fa fa-times"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="menu-icon"><img src="~/img/avatar-8.jpg" alt="example image"></span>
                                            </a>
                                            <span class="menu-text">
                                                Goerge Bruno
                                                <span class="menu-info">
                                                    <span class="menu-date">Las Vegas, USA</span>
                                                    <span class="menu-action">
                                                        <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green">
                                                            <i class="fa fa-check"></i>
                                                        </span>
                                                        <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red">
                                                            <i class="fa fa-times"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div><!-- pd-20 -->
                    </div>  <!-- photos tab -->
                    <div id="groups-tab" class="tab-pane">
                        <div class="pd-20">
                            <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="fa fa-leaf mgr-10 profile-icon"></i> GROUPS</h3>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="content-list content-large menu-action-right">
                                        <ul class="list-wrapper pd-lr-15">
                                            <li>
                                                <div class="menu-icon"><a href="#"><img src="~/img/logo-01.jpg" alt="example image"></a></div>
                                                <div class="menu-text">
                                                    <h4 class="mgbt-xs-0"><a href="#">IBM Data & AI</a></h4>
                                                    <div class="menu-info">
                                                        <span class="menu-date"> 34687877 members </span>

                                                    </div>
                                                    <p>Information Technology and Services</p>
                                                </div>
                                                <div class="menu-action">
                                                    <div data-placement="bottom" data-toggle="tooltip" data-original-title="Leave Group" class="menu-action-icon vd_red">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul> <!-- list-wrapper -->
                                    </div> <!-- content-list -->
                                </div> <!-- col-xs-12 col-sm-6 -->

                                <div class="col-xs-12 col-sm-6">
                                    <div class="content-list content-large menu-action-right">
                                        <ul class="list-wrapper pd-lr-15">
                                            <li>
                                                <div class="menu-icon"><a href="#"><img src="~/img/logo-02.jpg" alt="example image"></a></div>
                                                <div class="menu-text">
                                                    <h4 class="mgbt-xs-0"><a href="#">Mackenzie Stuart</a></h4>
                                                    <div class="menu-info">
                                                        <span class="menu-date"> 12597 members </span>

                                                    </div>

                                                    <p>Staffing and Recruiting</p>
                                                </div>
                                                <div class="menu-action">
                                                    <div data-placement="bottom" data-toggle="tooltip" data-original-title="Leave Group" class="menu-action-icon vd_red">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul> <!-- list-wrapper -->
                                    </div> <!-- content-list -->
                                </div> <!-- col-xs-12 col-sm-6 -->

                                <div class="col-xs-12 col-sm-6">
                                    <div class="content-list content-large menu-action-right">
                                        <ul class="list-wrapper pd-lr-15">
                                            <li>
                                                <div class="menu-icon"><a href="#"><img src="~/img/logo-03.jpg" alt="example image"></a></div>
                                                <div class="menu-text">
                                                    <h4 class="mgbt-xs-0"><a href="#">Book Lovers</a></h4>
                                                    <div class="menu-info">
                                                        <span class="menu-date"> 68686867 members </span>

                                                    </div>
                                                    <p>Every day is another chance to plunge into a new tale.</p>
                                                </div>
                                                <div class="menu-action">
                                                    <div data-placement="bottom" data-toggle="tooltip" data-original-title="Leave Group" class="menu-action-icon vd_red">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul> <!-- list-wrapper -->
                                    </div> <!-- content-list -->
                                </div> <!-- col-xs-12 col-sm-6 -->




                            </div> <!-- row -->
                        </div> <!-- pd-20 -->
                    </div>  <!-- groups tab -->

                </div>
                <!-- tab-content -->
            </div>
            <!-- tabs-widget -->
        </div>
    </div>
    <!-- row -->

</div>
