﻿@using Microsoft.AspNetCore.Identity;
@using ProfileManagement.StaticData;
@model ProfileManagement.ViewModels.UserProfileEditViewModel
@{
    ViewData["Title"] = "UserInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #toggle-plus-button
    {
        cursor:pointer;
    }
    #toggle {
        height: 100%;
        display: none;
    }
/*    input:focus {
        outline: none !important;
        box-shadow: 2px 2px 3px #ccc;
        border: 1px solid red;
    }*/
</style>

<div class="vd_content-section clearfix" id="mainDiv">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel widget light-widget">
                <div class="panel-heading no-title"> </div>
                @*<form class="form-horizontal" action="#" role="form">*@
                <div class="panel-body">
                    <h2 class="mgbt-xs-20"><span class="font-semibold">@Model.FullName</span> </h2>
                    <br />
                    <div class="row">
                        <div class="col-sm-3 mgbt-xs-20">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-img text-center mgbt-xs-15">
                                        @*<img id="pro-image" src="@Model.ProfilePicture" class="profile-image" style="background:white;border:2px solid white" />*@
                                        @{ if (@Model.ProfilePicture == null)
                                            {
                                                <img id="pro-image" src="~/img/avatar2.jpg" class="profile-image" style="background:white;border:2px solid white" />

                                            }
                                            else
                                            {
                                                <img id="pro-image" src="@Model.ProfilePicture" class="profile-image" style="background:white;border:2px solid white" />

                                            }

                                        }

                                        @*<img id="pro-image" src="@Model.ProfilePicture" class="profile-image" style="background:white;border:2px solid white" />*@
                                        <input type="file" accept="image/*" name="files" id="imgupload" style="display:none" />
                                    </div>
                                    <div class="form-img-action text-center mgbt-xs-20"> <a class="btn vd_btn  vd_bg-blue profile-image"><i class="fa fa-cloud-upload append-icon"></i> Upload</a> </div>

                                    <br />
                                    <div>
                                        <table class="table table-striped table-hover">
                                            <tbody>
                                                <tr>
                                                    <td style="width:60%;">Status</td>
                                                    <td><span class="label label-success">Active</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Member Since</td>
                                                    <td>@Model.MemberSince</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="tabs widget" id="tabs">
                                @{
                                    ViewBag.profile = "";
                                    ViewBag.contact = "";
                                    ViewBag.experience = "";
                                    @if (Model.Interests == null)
                                    {
                                        ViewBag.profile = "active";
                                    }
                                    else if (Model.PhoneNumber == null)
                                    {
                                        ViewBag.contact = "active";
                                    }
                                    else if(Model.ExperienceInfos.Count <= 0)
                                    {
                                        ViewBag.experience = "active";
                                    }
                                    else
                                    {
                                        ViewBag.profile = "active";
                                        ViewBag.contact = "";
                                        ViewBag.experience = "";
                                    }
                                }
                                    <ul class="nav nav-tabs widget" id="tabsUi">
                                        <li class="@ViewBag.profile"> <a data-toggle="tab" href="#profile-tab"> Profile Info <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
                                        <li class="@ViewBag.contact"> <a data-toggle="tab" href="#contacts-tab"> Contacts <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
                                        <li class=""> <a data-toggle="tab" href="#education-tab"> Education <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
                                        <li class="@ViewBag.experience"> <a data-toggle="tab" href="#experience-tab"> Experience <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
                                        <li class=""> <a data-toggle="tab" href="#account-tab"> Account Info <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
                                    </ul>
                                
                                    <div class="tab-content">

                                        <div id="profile-tab" class="tab-pane @ViewBag.profile">
                                            @*<form asp-area="" asp-controller="User" asp-action="SaveProfile" method="post">*@
                                       <form id="profileForm">

                                            <div class="pd-20">
                                                <h3 class="mgbt-xs-15">Profile</h3>
                                                <div asp-validation-summary="All" class="text-danger"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">
                                                        First Name
                                                        @if (Model.FirstName == null)
                                                        {
                                                            <span style="color:red;">*</span>
                                                        }
                                                    </label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row mgbt-xs-0">
                                                            <div class="col-xs-9">
                                                                <input type="text" id="firstName" placeholder="first name" asp-for="@Model.FirstName">
                                                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                                            </div>

                                                            @*<div class="col-xs-2">
                                <div class="btn-action">
                                    <button data-toggle="dropdown" class="btn btn-icon dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-globe fa-fw"></i></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                                    </ul>
                                </div>
                            </div>*@
                                                        </div>
                                                        <!-- row -->
                                                    </div>
                                                    <!-- col-sm-10 -->
                                                </div>
                                                <!-- form-group -->

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">
                                                        Last Name
                                                        @if (Model.LastName == null)
                                                        {
                                                            <span style="color:red;">*</span>
                                                        }
                                                    </label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row mgbt-xs-0">
                                                            <div class="col-xs-9">
                                                                <input type="text" id="lastName" placeholder="last name" asp-for="@Model.LastName">
                                                            </div>
                                                            <!-- col-xs-9 -->
                                                            @*<div class="col-xs-2">
                                <div class="btn-action">
                                    <button data-toggle="dropdown" class="btn btn-icon dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-lock fa-fw"></i></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                                    </ul>
                                </div>
                            </div>*@
                                                        </div>
                                                        <!-- row -->
                                                    </div>
                                                    <!-- col-sm-10 -->
                                                </div>
                                                <!-- form-group -->

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">
                                                        Gender
                                                        @if (Model.Gender == 0)
                                                        {
                                                            <span style="color:red;">*</span>
                                                        }

                                                    </label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row mgbt-xs-0">
                                                            <div class="col-xs-9">
                                                                <select asp-for="@Model.SelectedGender" id="gender"  class="form-control" asp-items="Html.GetEnumSelectList<Gender>()" required>
                                                                    <option value="">Select one</option>
                                                                </select>
                                                                @*<span asp-validation-for="SelectedGender" class="text-danger"></span>*@
                                                                @*<span class="vd_radio radio-info">
                                    <input type="radio" checked="" value="option3" id="optionsRadios3" name="optionsRadios2">
                                    <label for="optionsRadios3"> Male </label>
                                </span>
                                <span class="vd_radio  radio-danger">

                                    <input type="radio" value="option4" id="optionsRadios4" name="optionsRadios2">
                                    <label for="optionsRadios4"> Female </label>
                                </span>*@


                                                            </div>
                                                            <!-- col-xs-9 -->
                                                            @*<div class="col-xs-2">
                                <div class="btn-action">
                                    <button data-toggle="dropdown" class="btn btn-icon dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-lock fa-fw"></i></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                                    </ul>
                                </div>
                            </div>*@
                                                        </div>
                                                        <!-- row -->
                                                    </div>
                                                    <!-- col-sm-10 -->
                                                </div>
                                                <!-- form-group -->

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">
                                                        Birthday
                                                    </label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row mgbt-xs-0">
                                                            <div class="col-xs-9">
                                                                @*@Html.TextBoxFor(m => m.DateOfBirth, "{0:dd/MM/yyyy}")*@
                                                                <input type="date" id="birthDay" class="width-40" asp-for="DateOfBirth" value="@Model.DateOfBirth.ToString()" />
                                                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                                                @*<input class="form-control" asp-for="DateforTest"/>
                                <span asp-validation-for="DateforTest" class="text-danger"></span>*@

                                                                @*<input type="date" id="datepicker-normal" class="width-40" value="@Model.DateforTest" />*@
                                                                @*@Html.EditorFor(m => m.DateOfBirth, "{0:MM/dd/yyyy}", new { htmlAttributes = new { @class = "form-control", @type = "date" } })*@
                                                            </div>
                                                            @*<div class="form-group">
                                <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input type="datetime-local" asp-for="DateOfBirth"  class="form-control" value="@Model.DateOfBirth"/>
                                </div>
                            </div>*@
                                                            <!-- col-xs-12 -->
                                                            @*<div class="col-xs-2">
                                <div class="btn-action">
                                    <button data-toggle="dropdown" class="btn btn-icon dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-user fa-fw"></i></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                                    </ul>
                                </div>
                            </div>*@
                                                        </div>
                                                        <!-- row -->
                                                    </div>
                                                    <!-- col-sm-10 -->
                                                </div>
                                                <!-- form-group -->

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">
                                                        Marital Status
                                                        @if (Model.MaritalStatus == 0)
                                                        {
                                                            <span style="color:red;">*</span>
                                                        }
                                                    </label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row mgbt-xs-0">
                                                            <div class="col-xs-9">
                                                                <select asp-for="@Model.SelectedMaritalStatus"  id="maritalStatus" class="form-control" asp-items="Html.GetEnumSelectList<MaritalStatus>()">
                                                                    <option value="">Select one</option>
                                                                </select>
                                                                <span asp-validation-for="SelectedMaritalStatus" class="text-danger"></span>
                                                            </div>
                                                            <!-- col-xs-9 -->
                                                            @*<div class="col-xs-2">
                                <div class="btn-action">
                                    <button data-toggle="dropdown" class="btn btn-icon dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-user fa-fw"></i></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                                    </ul>
                                </div>
                            </div>*@
                                                        </div>
                                                        <!-- row -->
                                                    </div>
                                                    <!-- col-sm-10 -->
                                                </div>
                                                <!-- form-group -->

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">
                                                        Designation
                                                        @if (Model.Designation == null)
                                                        {
                                                            <span style="color:red;">*</span>
                                                        }
                                                    </label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row mgbt-xs-0">
                                                            <div class="col-xs-9">
                                                                <input type="text" placeholder="Designation" id="position" asp-for="@Model.Designation">
                                                                <span asp-validation-for="Designation" class="text-danger"></span>
                                                            </div>
                                                            <!-- col-xs-12 -->
                                                            @*<div class="col-xs-2">
                                <div class="btn-action">
                                    <button data-toggle="dropdown" class="btn btn-icon dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-user fa-fw"></i></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                                    </ul>
                                </div>
                            </div>*@
                                                        </div>
                                                        <!-- row -->
                                                    </div>
                                                    <!-- col-sm-10 -->
                                                </div>
                                                <!-- form-group -->

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Country</label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row mgbt-xs-0">
                                                            <div class="col-xs-9">
                                                                <input type="text" placeholder="country name" id="country" name="Country" asp-for="@Model.Country">
                                                                <span asp-validation-for="Country" class="text-danger"></span>
                                                            </div>
                                                            <!-- col-xs-12 -->
                                                            @*<div class="col-xs-2">
                                <div class="btn-action">
                                    <button data-toggle="dropdown" class="btn btn-icon dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-user fa-fw"></i></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                                    </ul>
                                </div>
                            </div>*@
                                                        </div>
                                                        <!-- row -->
                                                    </div>
                                                    <!-- col-sm-10 -->
                                                </div>
                                                <!-- form-group -->

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">City</label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row mgbt-xs-0">
                                                            <div class="col-xs-9">
                                                                <input type="text" placeholder="City name" id="city" asp-for="@Model.City">
                                                                <span asp-validation-for="City" class="text-danger"></span>
                                                            </div>
                                                            <!-- col-xs-12 -->
                                                            @*<div class="col-xs-2">
                                <div class="btn-action">
                                    <button data-toggle="dropdown" class="btn btn-icon dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-user fa-fw"></i></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                                    </ul>
                                </div>
                            </div>*@
                                                        </div>
                                                        <!-- row -->
                                                    </div>
                                                    <!-- col-sm-10 -->
                                                </div>

                                                <!-- form-group -->

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">
                                                        Interests
                                                        @if (Model.Interests == null)
                                                        {
                                                            <span style="color:red;">*</span>
                                                        }
                                                    </label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row mgbt-xs-0">
                                                            <div class="col-xs-9">
                                                                <textarea rows="3" id="interest" asp-for="@Model.Interests"></textarea> <br />
                                                                <span asp-validation-for="Interests" class="text-danger"></span>
                                                            </div>
                                                            <!-- col-xs-12 -->
                                                            @*<div class="col-xs-2">
                                <div class="btn-action">
                                    <button data-toggle="dropdown" class="btn btn-icon dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-user fa-fw"></i></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                                    </ul>
                                </div>
                            </div>*@
                                                        </div>
                                                        <!-- row -->
                                                    </div>
                                                    <!-- col-sm-10 -->
                                                </div>
                                                <!-- form-group -->
                                            </div>
                                            <div class="pd-20">
                                                <div style="margin-top:53%;">
                                                    <button style="margin-left:27%;" class="btn vd_btn vd_bg-green col-md-offset-3" type="submit" asp-action="Index"><span class="menu-icon"><i class="fa fa-fw fa-backward"></i></span>Back</button>
                                                   @* <a class="btn vd_btn vd_bg-green col-md-offset-3" style="margin-left: 29%" onclick="InsertProfileData('@Url.Action("SaveProfile")')"><span class="menu-icon"><i class="fa fa-fw fa-check"></i></span>Save</a>*@
                                                    <button class="btn vd_btn vd_bg-green col-md-offset-3" style="margin-left: 29%" type="submit" onclick="InsertProfileData('@Url.Action("SaveProfile")')"><span class="menu-icon"><i class="fa fa-fw fa-check"></i></span>Save</button>
                                                </div>
                                            </div>
                                            @*</form>*@
                                            </form>
                                        </div>

                                        <div id="contacts-tab" class="tab-pane @ViewBag.contact">
                                            @*<form asp-area="" asp-controller="User" asp-action="SaveContactInfo" method="post">*@
                                            <form id="contactForm">
                                            <div class="pd-20">
                                                <h3 class="mgbt-xs-15">Contact</h3>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">
                                                        Mobile Phone
                                                        @if (Model.PhoneNumber == null)
                                                        {
                                                            <span style="color:red;">*</span>
                                                        }
                                                    </label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row mgbt-xs-0">
                                                            <div class="col-xs-9">
                                                                
                                                                @*<input type="text" placeholder="mobile phone" id="phone_number" name="phone_number" value="@Model.PhoneNumber">*@
                                                                <input type="text" placeholder="mobile phone" id="phone_number" name="phone_number" value="@Model.PhoneNumber">
                                                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                                            </div>
                                                            <!-- col-xs-12 -->
                                                            @*<div class="col-xs-2">
                                <div class="btn-action">
                                    <button data-toggle="dropdown" class="btn btn-icon dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-globe fa-fw"></i></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                                    </ul>
                                </div>
                            </div>*@
                                                        </div>
                                                        <!-- row -->
                                                    </div>
                                                    <!-- col-sm-10 -->
                                                </div>
                                                <!-- form-group -->
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Email</label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row mgbt-xs-0">
                                                            <div class="col-xs-9">
                                                                <input type="email" placeholder="email@yourcompany.com" id="email" readonly asp-for="Email" value="@Model.Email">
                                                            </div>
                                                            @*<div class="col-xs-2">
                                <div class="btn-action">
                                    <button data-toggle="dropdown" class="btn btn-icon  dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-globe fa-fw"></i></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                                    </ul>
                                </div>
                            </div>*@
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Website</label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row mgbt-xs-0">
                                                            <div class="col-xs-9">
                                                                <input type="text" placeholder="website" id="website" asp-for="Website" value="@Model.Website">
                                                                <span asp-validation-for="Website" class="text-danger"></span>
                                                            </div>
                                                            <!-- col-xs-9 -->
                                                            @*<div class="col-xs-2">
                                <div class="btn-action">
                                    <button data-toggle="dropdown" class="btn btn-icon dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-globe fa-fw"></i></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                                    </ul>
                                </div>
                            </div>*@
                                                        </div>
                                                        <!-- row -->
                                                    </div>
                                                    <!-- col-sm-10 -->
                                                </div>
                                                <!-- form-group -->

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Facebook</label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row mgbt-xs-0">
                                                            <div class="col-xs-9">
                                                                <input type="text" placeholder="facebook" id="facebook" asp-for="Facebook" value="@Model.Facebook">
                                                                <span asp-validation-for="Facebook" class="text-danger"></span>
                                                            </div>
                                                            <!-- col-xs-9 -->
                                                            @*<div class="col-xs-2">
                                <div class="btn-action">
                                    <button data-toggle="dropdown" class="btn btn-icon dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-globe fa-fw"></i></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                                    </ul>
                                </div>
                            </div>*@
                                                        </div>
                                                        <!-- row -->
                                                    </div>
                                                    <!-- col-sm-10 -->
                                                </div>
                                                <!-- form-group -->

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Twitter</label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row mgbt-xs-0">
                                                            <div class="col-xs-9">
                                                                <input type="text" placeholder="twitter" id="twiter" asp-for="Twitter" value="@Model.Twitter"><br />
                                                                <span asp-validation-for="Twitter" class="text-danger"></span>
                                                            </div>
                                                            <!-- col-xs-9 -->
                                                            @*<div class="col-xs-2">
                                <div class="btn-action">
                                    <button data-toggle="dropdown" class="btn btn-icon dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-globe fa-fw"></i></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                        <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                                    </ul>
                                </div>
                            </div>*@
                                                        </div>
                                                        <!-- row -->
                                                    </div>
                                                    <!-- col-sm-10 -->
                                                </div>
                                                <!-- form-group -->
                                            </div>
                                            <div class="pd-20">
                                                @*<div style="margin-top:26%; margin-left:3%;">
                    <button class="btn vd_btn vd_bg-green col-md-offset-3" type="submit"><span class="menu-icon"><i class="fa fa-fw fa-check"></i></span>Save</button>
                    <button style="margin-left:28%;" class="btn vd_btn vd_bg-green col-md-offset-3" type="submit" asp-action="Index"><span class="menu-icon"><i class="fa fa-fw fa-backward"></i></span>Back</button>
                </div>*@
                                                <div style="margin-top:25%;">
                                                    <button style="margin-left:27%;" class="btn vd_btn vd_bg-green col-md-offset-3" type="submit" asp-action="Index"><span class="menu-icon"><i class="fa fa-fw fa-backward"></i></span>Back</button>
                                                   @* <a class="btn vd_btn vd_bg-green col-md-offset-3" style="margin-left:29%;" onclick="SavenewContact()"><span class="menu-icon"><i class="fa fa-fw fa-check"></i></span>Save</a>*@
                                                    <input class="btn btn-success" id="submit-button" onclick="SavenewContact()" type="submit" value="Save"/>
                                                </div>
                                            </div>
                                            @*</form>*@
                                            </form>
                                        </div>

                                        <div id="education-tab" class="tab-pane">
                                            @*<form asp-area="" asp-controller="User" asp-action="SaveEducationInfo" method="post">*@
                                            <div class="pd-20">
                                                <h3 class="mgbt-xs-15">Education</h3>
                                                <div class="form-group">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Institute Name</th>
                                                                <th>Degree</th>
                                                                <th>Session</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var edu in Model.EducationInfos)
                                                            {
                                                                <tr>
                                                                    <td>@edu.InstituteName</td>
                                                                    <td>@edu.DegreeName</td>
                                                                    <td>@edu.Session</td>
                                                                    @*<td><a class="btn btn-info btn-sm" onclick="getEduData(@edu.Id)"><i class="fa fa-edit"></i></a></td>*@
                                                                    <td><a class="btn btn-info btn-sm" name="edit" onclick="getEduData(@edu.Id,'@edu.InstituteName','@edu.DegreeName','@edu.Session')"><i class="fa fa-edit"></i></a></td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                    @*<a class="btn btn-info"><i class="fa fa-plus"></i></a>*@
                                                </div>

                                                <div class="text-center" id="toggle-plus-button"><h4 class="text-center" style="color:green"><i class="fa fa-plus-square"></i></h4><hr /></div>
                                                <div id="toggle">
                                                    <form id="educationForm">
                                                        @*<form asp-area="" asp-controller="User" asp-action="SaveEducationInfo" method="post">*@
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Institute Name</label>
                                                            <div class="col-sm-9 controls">
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-9">
                                                                        <input id="institute-name" type="text" placeholder="Institute name" name="institute_name" value="">
                                                                    </div>
                                                                    <!-- col-xs-12 -->
                                                                    @*<div class="col-xs-2">
                        <div class="btn-action">
                            <button data-toggle="dropdown" class="btn btn-icon dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-globe fa-fw"></i></button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                            </ul>
                        </div>
                    </div>*@
                                                                </div>
                                                                <!-- row -->
                                                            </div>
                                                            <!-- col-sm-10 -->
                                                        </div>
                                                        <!-- form-group -->

                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Degree</label>
                                                            <div class="col-sm-9 controls">
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-9">
                                                                        <input id="degree-name" type="text" name="degree_name" placeholder="degree name" value="">
                                                                    </div>
                                                                    <!-- col-xs-9 -->
                                                                    @*<div class="col-xs-2">
                        <div class="btn-action">
                            <button data-toggle="dropdown" class="btn btn-icon dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-globe fa-fw"></i></button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                            </ul>
                        </div>
                    </div>*@
                                                                </div>
                                                                <!-- row -->
                                                            </div>
                                                            <!-- col-sm-10 -->
                                                        </div>
                                                        <!-- form-group -->

                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Session</label>
                                                            <div class="col-sm-9 controls">
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-9">
                                                                        <input id="session" type="text" placeholder="ex: 2010 - 2016" asp-for="@Model.Session"><br />
                                                                    </div>
                                                                    <!-- col-xs-9 -->
                                                                    @*<div class="col-xs-2">
                        <div class="btn-action">
                            <button data-toggle="dropdown" class="btn btn-icon dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-globe fa-fw"></i></button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                            </ul>
                        </div>
                    </div>*@
                                                                </div>
                                                                <!-- row -->
                                                            </div>
                                                            <!-- col-sm-10 -->
                                                        </div>
                                                        <!-- form-group -->
                                                        @*<div class="pd-20">
            <a class="btn vd_btn vd_bg-green col-md-offset-3" onclick="javascript: app.saveEducationInfo()"><span class="menu-icon"><i class="fa fa-fw fa-check"></i></span>Save</a>
            <button class="btn vd_btn vd_bg-green col-md-offset-3" type="submit" asp-action="Index"><span class="menu-icon"><i class="fa fa-fw fa-backward"></i></span>Back</button>
        </div>*@
                                                        @*</form>*@
                                                        <div class="pd-20">
                                                            <div style="margin-top: 18%;">
                                                                <button style="margin-left:27%;" class="btn vd_btn vd_bg-green col-md-offset-3" type="submit" asp-action="Index"><span class="menu-icon"><i class="fa fa-fw fa-backward"></i></span>Back</button>
                                                                <button class="btn vd_btn vd_bg-green col-md-offset-3" style="margin-left:29%;" type="submit" onclick="InsertEducationData('@Url.Action("SaveEducationInfo")')"><span class="menu-icon"><i class="fa fa-fw fa-check"></i></span>Save</button>
                                                                @*<a class="btn vd_btn vd_bg-green col-md-offset-3" style="margin-left:29%;" onclick="InsertEducationData('@Url.Action("SaveEducationInfo")')"><span class="menu-icon"><i class="fa fa-fw fa-check"></i></span>Save</a>*@
                                                            </div>
                                                        </div>
                                                        @*</form>*@
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="experience-tab" class="tab-pane @ViewBag.experience">
                                            @*<form asp-area="" asp-controller="User" asp-action="SaveExperienceInfo" method="post">*@
                                            <form id="experienceForm">
                                            
                                            <div class="pd-20">
                                                <h3 class="mgbt-xs-15">
                                                    Experience
                                                    @if (Model.ExperienceInfos.Count <= 0)
                                                    {
                                                        <span style="color:red;">*</span>
                                                    }
                                                </h3>
                                                <div class="form-group">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="2">Company Name</th>
                                                                <th colspan="1">Designation</th>
                                                                <th colspan="1">Duration</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var exp in Model.ExperienceInfos)
                                                            {
                                                                <tr>
                                                                    <td colspan="2">@exp.CompanyName</td>
                                                                    <td colspan="1">@exp.Designation</td>
                                                                    <td colspan="1">@exp.Duration</td>
                                                                    <td><a class="btn btn-info btn-sm" onclick="getExpData(@exp.Id,'@exp.CompanyName','@exp.Designation','@exp.Duration')"><i class="fa fa-edit"></i></a></td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>

                                                </div>
                                                <div class="text-center"><h4 class="text-center" style="color:green"><i class="fa fa-plus-square"></i></h4><hr /></div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Company Name</label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row mgbt-xs-0">
                                                            <div class="col-xs-9">
                                                                <input type="text" id="companyName" placeholder="Company Name" name="companyName">
                                                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                                                            </div>
                                                            <!-- col-xs-12 -->
                                                            @*<div class="col-xs-2">
                            <div class="btn-action">
                                <button data-toggle="dropdown" class="btn btn-icon dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-globe fa-fw"></i></button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                    <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                    <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                                </ul>
                            </div>
                        </div>*@
                                                        </div>
                                                        <!-- row -->
                                                    </div>
                                                    <!-- col-sm-10 -->
                                                </div>
                                                <!-- form-group -->

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Designation</label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row mgbt-xs-0">
                                                            <div class="col-xs-9">
                                                                <input type="text" placeholder="Designation" id="designation" name="designation">
                                                                <span asp-validation-for="EmployeeDesignation" class="text-danger"></span>
                                                            </div>
                                                            <!-- col-xs-9 -->
                                                            @*<div class="col-xs-2">
                            <div class="btn-action">
                                <button data-toggle="dropdown" class="btn btn-icon dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-globe fa-fw"></i></button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                    <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                    <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                                </ul>
                            </div>
                        </div>*@
                                                        </div>
                                                        <!-- row -->
                                                    </div>
                                                    <!-- col-sm-10 -->
                                                </div>
                                                <!-- form-group -->

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Duration</label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row mgbt-xs-0">
                                                            <div class="col-xs-9">
                                                                <input type="text" placeholder="Duration" id="duration" asp-for="@Model.Duration"><br />
                                                                <span asp-validation-for="Duration" class="text-danger"></span>
                                                            </div>
                                                            <!-- col-xs-9 -->
                                                            @*<div class="col-xs-2">
                            <div class="btn-action">
                                <button data-toggle="dropdown" class="btn btn-icon dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-globe fa-fw"></i></button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                    <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                    <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                                </ul>
                            </div>
                        </div>*@
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <br />
                                            <div class="pd-20">
                                                <div style="margin-top: 10%;">
                                                    <button style="margin-left:27%;" class="btn vd_btn vd_bg-green col-md-offset-3" type="submit" asp-action="Index"><span class="menu-icon"><i class="fa fa-fw fa-backward"></i></span>Back</button>
                                                    <button class="btn vd_btn vd_bg-green col-md-offset-3" style="margin-left:29%;" type="submit" onclick="InsertExpData('@Url.Action("SaveExperienceInfo")')"><span class="menu-icon"><i class="fa fa-fw fa-check"></i></span>Save</button>
</div>
                                            </div>
                                            @*</form>*@
                                            </form>
                                        </div>

                                        <div id="account-tab" class="tab-pane">
                                            <form asp-area="" asp-controller="User" asp-action="SaveAccountInfo" method="post">
                                                <div class="pd-20">
                                                    <h3 class="mgbt-xs-15">Account</h3>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Username</label>
                                                        <div class="col-sm-9 controls">
                                                            <div class="row mgbt-xs-0">
                                                                <div class="col-xs-9">
                                                                    <input type="text" class="form-control" placeholder="username" asp-for="UserName" value="@Model.UserName" disabled>
                                                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                                                </div>
                                                                @*<div class="col-xs-2">
                                    <div class="btn-action">
                                        <button data-toggle="dropdown" class="btn btn-icon dropdown-toggle vd_bg-yellow vd_white" type="button"><i class="fa fa-globe fa-fw"></i></button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#" onclick="return false"><i class="fa fa-globe fa-fw"></i> Public</a></li>
                                            <li><a href="#" onclick="return false"><i class="fa fa-user fa-fw"></i> Friends</a></li>
                                            <li><a href="#" onclick="return false"><i class="fa fa-lock fa-fw"></i> Only Me</a></li>
                                        </ul>
                                    </div>
                                </div>*@
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Password</label>
                                                        <div class="col-sm-9 controls">
                                                            <div class="row mgbt-xs-0">
                                                                <div class="col-xs-9">
                                                                    <input type="password" class="form-control width-40" placeholder="password" asp-for="Password" value="@Model.Password">
                                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">New Password</label>
                                                        <div class="col-sm-9 controls">
                                                            <div class="row mgbt-xs-0">
                                                                <div class="col-xs-9">
                                                                    <input type="password" class="form-control width-40" placeholder="password" asp-for="NewPassword" value="@Model.NewPassword">
                                                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Confirm Password</label>
                                                        <div class="col-sm-9 controls">
                                                            <div class="row mgbt-xs-0">
                                                                <div class="col-xs-9">
                                                                    <input type="password" class="form-control width-40" placeholder="password" asp-for="ConfirmPassword" value="@Model.ConfirmPassword"><br />
                                                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="pd-20">
                                                    <div style="">
                                                        <button style="margin-left:27%;" class="btn vd_btn vd_bg-green col-md-offset-3" type="submit" asp-action="Index"><span class="menu-icon"><i class="fa fa-fw fa-backward"></i></span>Back</button>
                                                        <button class="btn vd_btn vd_bg-green col-md-offset-3" style="margin-left:29%;" type="submit"><span class="menu-icon"><i class="fa fa-fw fa-check"></i></span>Save</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                            </div>

                        </div>
                    </div>

                </div>
                @*</form>*@
            </div>
        </div>
    </div>
</div>
<!--------------------------- Modal ----------------------->
@*/////////////////////////////////////////////////////////////*@
<div class="modal fade" id="eduModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="margin-top:15%">
            <div class="modal-header" style="background-color:bisque">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Education Data</h4>
                <input type="hidden" id="Edit_edu_id" value="Edit_edu_id" />
            </div>
            <div class="modal-body">
                <div class="form-horizontal ">
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="col-md-10">
                                <label> Institute Name</label>
                            </div>
                            <br />
                            <div class="col-md-6">
                                <input class="form-control" id="Edit_Institute_Name" placeholder="Enter Institute Name" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="col-md-10">
                                <label> Degree Name</label>
                            </div>
                            <br />
                            <div class="col-md-6">
                                <input class="form-control" id="Edit_Degree" rows="4" placeholder="Enter Degree Name " />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="col-md-10">
                                <label> Session</label>
                            </div>
                            <br />
                            <div class="col-md-6">
                                <input class="form-control" id="Edit_Session" rows="4" placeholder="Enter Time Session" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-0 col-md-10">
                            <button class="btn btn-success" onclick="Edit_education()">Update data</button>
                            <a class="btn btn-danger" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="expModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="margin-top:15%;">
            <div class="modal-header" style="background-color:bisque;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Experience Data</h4>
                <input type="hidden" id="Edit_exp_id" value="Edit_exp_id" />
            </div>
            <div class="modal-body">
                <div class="form-horizontal ">
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="col-md-10">
                                <label> Company Name</label>
                            </div>
                            <br />
                            <div class="col-md-6">
                                <input class="form-control" id="Edit_company_Name" placeholder="Enter Company Name" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="col-md-10">
                                <label> Degree Name</label>
                            </div>
                            <br />
                            <div class="col-md-6">
                                <input class="form-control" id="Edit_Designation" rows="4" placeholder="Enter position Name " />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="col-md-10">
                                <label>Duration</label>
                            </div>
                            <br />
                            <div class="col-md-6">
                                <input class="form-control" id="Edit_Duration" rows="4" placeholder="Enter Duration" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-0 col-md-10">
                            <button class="btn btn-success" onclick="Edit_experience()">Update</button>
                            <a class="btn btn-danger" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $("#profileForm").validate({
            rules: {
                FirstName: {
                    required: true,
                },
                LastName: {
                    required: true
                },
                SelectedGender: {
                    required: true
                }, 
                SelectedMaritalStatus: {
                    required: true
                },
                Country: {
                    required: true
                }, 
                Interests: {
                    required: true
                },
                Designation: {
                    required:true
                }
            },
            messages: {
                first_name: {
                    required: 'please enter first name'
                },
                LastName: {
                    required: 'please enter last name'
                },
                SelectedGender: {
                    required: 'please select specific gender'
                },
                SelectedMaritalStatus: {
                    required: 'please select  marital status'
                },
                Country: {
                    required: 'please select specific country'
                }, 
                Interests: {
                    required: 'please tell about your interests'
                },
                Designation: {
                    required: 'please enter Designation Name'
                }
              
            }
        });
        $("#contactForm").validate({
            rules: {
                phone_number: {
                    required: true
                }
            },
            messages: {
                phone_number: {
                    required: 'please enter a phone number'
                }
            }
        });

       $("#educationForm").validate({
            rules: {
                institute_name: {
                    required: true
                   },
                degree_name: {
                    required:true
                }
            },
            messages: {
                institute_name: {
                    required: 'please enter institution Name'
                },
            degree_name: {
                required: 'please enter degree Name'
                }
            }
       });
        $("#experienceForm").validate({
            rules: {
                companyName: {
                    required: true
                },
                designation: {
                    required: true
                }
            },
            messages: {
                companyName: {
                    required: 'please enter company Name'
                },
                designation: {
                    required: 'please enter designation Name'
                }
            }
        });
    });


    function SavenewContact() {
        var phoneNumber = $('#phone_number').val();
        var email = $('#email').val();
        var website = $('#website').val();
        var facebook = $('#facebook').val();
        var twiter = $('#twiter').val();

        var contactInformations = {
            "PhoneNumber": phoneNumber,
            "Email": email,
            "Website": website,
            "Facebook": facebook,
            "Twitter": twiter
        };
        $.ajax({
            type: "POST",
            url: "@Url.Action("SaveContactInfoWithAjax")",
           // contentType: "application/json;charset=utf-8",
            dataType: "json",
            //data: { 'id': edu_id, 'institute': instituteName, 'Degree': DegreeName, 'session': SessionTime},
            //data: { model: contactInformations },
            data: { profile: contactInformations },
            error: function (response) {
                alert("somthing went wrong");
            },
            success: function (response) {
                if (response.success) {
                    console.log(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                    console.log(response.message);
                }
            }
        });

    }

    function InsertEducationData(url) {
        var InstitutionName = $('#institute-name').val();
        var Degree = $('#degree-name').val();
        var SessionTime = $('#session').val();

        var educationData = {
            "InstituteName": InstitutionName,
            "DegreeName": Degree,
            "Session": SessionTime
        };
        $.ajax({
            type: "POST",
            url: url,
            dataType: "json",
            data: { profile: educationData },
            error: function (response) {
                console.log(response.message);
                alert('<span style="color:red">'+response.message+'</span>');
            },
            success: function (response) {
               // $('#experience-tab').tab('show');
                //$('#experience-tab').attr("class").va
                if (response.success) {
                    console.log(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                    console.log(response.message);
                }

            }
        });
    }

    function InsertExpData(url) {
        var companyName = $('#companyName').val();
        var Designation = $('#designation').val();
        var TimeSpan = $('#duration').val();

        var experienceData = {
            "CompanyName": companyName,
            "EmployeeDesignation": Designation,
            "Duration": TimeSpan
        };
        //var current_index = $("#tabs").tabs("option", "selected");
        //alert("The index of the current tab is " + current_index);

        $.ajax({
            type:"POST",
            url:url,
            dataType: "json",
            data: { profile: experienceData },
            success: function (response) {
                if (response.success) {
                    console.log(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                    console.log(response.message);
                }
            },
            error: function (response) {
                console.log(response.message);
            }
        });
         //location.reload();
    }

    function InsertProfileData(url) {
        var firstName = $('#firstName').val();
        var lastName = $('#lastName').val();
        var gender = $('#gender').val();
        var birthDay = $('#birthDay').val();
        var maritalStatus = $('#maritalStatus').val();
        var designation = $('#position').val();
        var country = $('#country').val();
        var city = $('#city').val();
        var interest = $('#interest').val();

        var UserProfileData = {
            "FirstName": firstName,
            "LastName": lastName,
            "SelectedGender": gender,
            "DateOfBirth": birthDay,
            "SelectedMaritalStatus": maritalStatus,
            "Designation": designation,
            "Country": country,
            "City": city,
            "Interests": interest
        };
        $.ajax({
            type: "POST",
            url: url,
            dataType: "json",
            data: { profile: UserProfileData },
            success: function (response) {
                if (response.success) {
                    console.log("data update successfully");
                    location.reload();
                }
                else {
                    alert(response.message);
                    console.log(response.message);
                    location.reload();
                }
            },
            error: function (response) {
                console.log(response.message);
                location.reload();

            }
            
        });
    }



    //function ContactSave(url) {

    //    var phoneNumber = $('#phone_number').val();
    //    var email = $('#email').val();
    //    var website = $('#website').val();
    //    var facebook = $('#facebook').val();
    //    var twiter = $('#twiter').val();

    //    var contactInformations = {
    //        "PhoneNumber": phoneNumber,
    //        "Email": email,
    //        "Website": website,
    //        "Facebook": facebook,
    //        "Twitter": twiter
    //    };

    //    $.ajax({
    //        type: 'POST',
    //        url: url,
    //        data: { 'PhoneNumber': phoneNumber},
    //            contentType: "application/json",
    //            dataType: "json",
    //            success: function (response) {
    //                if (response.success) {
    //                  //  $("#firstTab").html(response.html);
    //                    //$.notify(response.message, "warn");
    //                    console.log("data update successfully");
    //                }
    //                else {
    //                    //$.notify(response.message, "error");
    //                    console.log("somthing wrong");

    //                }
    //            }

    //        });
    //}



    // Get Edu Edit data
    function getEduData(id,institute,DegreeName,session) {
        $('#eduModal').modal('show');
        $('#Edit_edu_id').val(id);
        $('#Edit_Institute_Name').val(institute);
        $('#Edit_Degree').val(DegreeName);
        $('#Edit_Session').val(session);
        console.log(id);
        @*$.ajax({
            type: "POST",
            url: "@Url.Action("TestEducation")",
            data: "{Data:'" + JSON.stringify(id) + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (data) {
                $.each(data.d, function (i, item) {
                    $('#Edit_Institute_Name').val(item.name);
                    $('#Edit_Degree').val(item.short_code);
                    $('#Edit_Session').val(item.short_code);
                });
            }
        });*@

    }
    /////

    // Perform Edit on individual Education data
    function Edit_education() {
        var edu_id = $('#Edit_edu_id').val();
        var instituteName = $('#Edit_Institute_Name').val();
        var DegreeName = $('#Edit_Degree').val();
        var SessionTime = $('#Edit_Session').val();

        //var SingleEducationData = {
        //    Id: edu_id,
        //    InstituteName: $('#Edit_Institute_Name').val(),
        //    DegreeName: $('#Edit_Degree').val(),
        //    Session: $('#Edit_Session').val()
        //};

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveEducationModalData")',
            dataType: 'json',
            data: { 'id': edu_id, 'institute': instituteName, 'Degree': DegreeName, 'session': SessionTime},
            success: function (response) {
                //$.each(data.d, function (i, item) {
                //    $('#Edit_region_name').val(item.region_name);
                //    $('#Edit_region_description').val(item.region_description);
                //});
                console.log(response);
                console.log(response.message);
                if (response.success) {
                    console.log("data update successfully");
                    location.reload();
                }
                else {
                    alert(response.message);
                    console.log(response.message);
                    location.reload();

                }
            },
            error: function (response) {
                alert(response.message);
                console.log(response);
                console.log(response.message);
                location.reload();

            },
        });
        //window.location.href =
        //location.reload();
        @*location.reload();
        var url = '@Url.Action("Index","User")';*@
        //window.location.href = url;
    }
    ///
    /// For exp ////

    // Get Exp Edit data
    function getExpData(id,companyName,Designation,Duration) {
        $('#expModal').modal('show');
        $('#Edit_exp_id').val(id);
        $('#Edit_company_Name').val(companyName);
        $('#Edit_Designation').val(Designation);
        $('#Edit_Duration').val(Duration);
        console.log(id);
        @*$.ajax({
            type: "POST",
            url: "@Url.Action("TestEducation")",
            data: "{Data:'" + JSON.stringify(id) + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (data) {
                $.each(data.d, function (i, item) {
                    $('#Edit_Institute_Name').val(item.name);
                    $('#Edit_Degree').val(item.short_code);
                    $('#Edit_Session').val(item.short_code);
                });
            }
        });*@

    }
    /////

    // Perform Edit on individual experience data
    function Edit_experience() {
        var exp_id = $('#Edit_exp_id').val();
        var companyName = $('#Edit_company_Name').val();
        var Designation = $('#Edit_Designation').val();
        var Duration = $('#Edit_Duration').val();

        //var SingleEducationData = {
        //    Id: edu_id,
        //    InstituteName: $('#Edit_Institute_Name').val(),
        //    DegreeName: $('#Edit_Degree').val(),
        //    Session: $('#Edit_Session').val()
        //};

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveExperieneModalData")',
            dataType: 'application/json',
            data: { 'id': exp_id, 'company': companyName, 'designation': Designation, 'duration': Duration},
            success: function (response) {
                //$.each(data.d, function (i, item) {
                //    $('#Edit_region_name').val(item.region_name);
                //    $('#Edit_region_description').val(item.region_description);
                //});
                console.log(response);
                console.log(response.message);
                if (response.success) {
                    console.log(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                    console.log(response.message);
                }
            },
            error: function (response) {
                alert(response.message);
                console.log(response);
                console.log(response.message);
            },

        });
        //window.location.href =
        //location.reload();
        @*location.reload();
        var url = '@Url.Action("Index","User")';*@
        //window.location.href = url;
    }


    ////
    $(document).ready(function () {
        if ($("#user-mobile").val() == "") {
            toastr["error"]("Please fill in all the required info.");
        }
    });
    var _URL = window.URL || window.webkitURL;
    $("#camera,.profile-image").click(function () {
        $("#imgupload").trigger('click');
    });
    $("#imgupload").change(function () {
        img = new Image();
        if ($("#imgupload")[0].files.length > 0) {
            var fileUpload = $("#imgupload").get(0);
            var files = fileUpload.files[0];
            var fileData = new FormData();
            fileData.append(files.name, files);
            $("#circle-profile").show();
            //$('.second.circle').circleProgress({
            //    value: 1, fill: { color: '#08D7AD' }
            //}).on('circle-animation-progress', function (event, progress) {
            //    $(this).find('strong').html(Math.round(100 * progress) + '<i>%</i>');
            //});
            $.ajax({
                url: '/User/UploadProfilePicture',
                type: 'POST',
                contentType: false, // Not to set any content header
                processData: false,
                data: fileData,
                success: function (res) {
                    $("#pro-image").attr("src", res);
                    $("#profile-image").attr("src", res).css("width", "35px").css("height", "35px");
                    $("#circle-profile").hide();
                }, error: function () {
                    $("#circle-profile").hide();
                }
            });
        }
    });
    //$(document).ready(function () {
    //    $("#user-mobile").intlTelInput({
    //        initialCountry: "auto",
    //        geoIpLookup: function (callback) {
    //            $.get("https://ipinfo.io", function () { }, "jsonp").always(function (resp) {
    //                var countryCode = (resp && resp.country) ? resp.country : "";
    //                callback(countryCode);
    //            });
    //        },
    //        utilsScript: "../lib/intl-tel-input/js/utils.js"
    //    });
    //});

    //$('.countrypicker').countrypicker();
    //$(function () {
    //    new NiceCountryInput($("#exampleCountry")).init();
    //});
    //function onChangeCallback(ctr) {
    //    console.log("The country was changed: " + ctr);
    //}

    $("#country").countrySelect({
        // defaultCountry: "jp",
        // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
        // responsiveDropdown: true,
        
        preferredCountries: ['ca', 'gb', 'us']
    });


    $('#toggle-plus-button').click(function () {

        //var x = $('#toggle');
        //var toggleWidth = $("#toggle").width() == 0 ? "200px" : "0px";
        //$('#toggle').animate({
        //    width: toggleWidth
        //});

        //var toggleWidth;
        var r;
        var x = document.getElementById("toggle");
        //var x = $('#toggle');
        if (x.style.display == "none") {
            x.style.display = "block";
            //x.style.width = "100%";
            r = "100%";
        } else {
            //x.style.width = "0%";
            r = "0%";
            x.style.display = "none";
        }
          $('#toggle').animate({
              //width: x.style.toggleWidth
              height: r
              //height: x.style.height
        });

    });
</script>