﻿@{
    ViewData["Title"] = "Confirm email";
    Layout = "~/Views/Shared/_CutOutWiz.cshtml";
}
<style>
    body{
        background:black;
    }
</style>
<div style="width:50%;margin:0 auto;padding:50px;margin-top:5%;background:#f2f2f2">
    <h4>Oops!!! Error occured.</h4>
</div>
