﻿@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style>
    body{
        background:black;
    }
</style>
@*<h2>@ViewData["Title"]</h2>
<h4>Associate your @ViewData["LoginProvider"] account.</h4>
<hr />*@

<div id="register-login-modal" class="animated flipInX" style="margin-top:5%;font-family: Lato;margin-bottom:2%">   
    <div class="tab-content" id="myTabContent" style="background:#f2f2f2;width:50%;margin:0 auto;">
        <div class="" id="home" role="tabpanel" style="padding-top:3%;margin-bottom:5%">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <p class="text-info">
                            You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
                            Please enter an email address for this site below and click the Register button to finish
                            logging in.
                        </p>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            @*<label asp-for="Email"></label>*@
                            <input asp-for="Email" class="form-control" placeholder="Email address"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <button type="submit" style="float:right;margin-bottom:20px" class="btn btn-default btn-cutoutwiz">Register</button>
                    </form>
                    

                </div>
            </div>
        </div>        
    </div>
</div>




@*<p class="text-info">
    You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
    Please enter an email address for this site below and click the Register button to finish
    logging in.
</p>*@

@*<div class="row">
    <div class="col-md-4">
        <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>*@

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
