﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
    loginProviders = loginProviders.Where(x => x.Name != "Facebook").ToList();
}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="~/lib/iziModal/css/iziModal.css" />
<script src="~/lib/iziModal/js/iziModal.min.js"></script>
<style>
    body{
        background:black;
    }
    .social-icons{
        font-size:32px;
        text-align:center;
    }
    .nav {
        background: #f2f2f2;
        width: 50%;
        margin: 0 auto;
    }
        .nav > li {
            text-align: center;
            width: 50%;
            display: inline-block !important;
            background: #2ED3AE;
            height: 90px;
            border: none;
            padding: 0;
            margin: 0;
        }
            .nav > li > a {
               padding:30px;
                color: white!important;
                font-size:25px;
            }
                .nav > li > a:hover {
               background:none;
               border:none!important;
                    }
                .nav-tabs > li.active, .nav-tabs > li.active > a {
                    background: #f2f2f2 !important;
                    color: black !important;
                }
    #myTabContent{
        padding-bottom:2%;
    }
    .input-custom {
        border-radius: 0 !important;
        font-style: italic;
        height: 40px !important;
        border: 1px solid #2ED3AE;
        border-left: 5px solid #2ED3AE;
    }
    .button-custom {
        border-radius: 0 !important;
        min-width: 90px;
        color: white;
        font-size: 16px;
        height: 40px;
        background: #2ED3AE;border:none;
    }
        .button-custom:hover {
            background: white !important;
            color: #2ED3AE !important;
            border: none;
        }
    .nav-tabs{
        border:none!important;
    }
    .i-color {
        color: #2ED3AE!important;
    }
    .i-color:hover {
        color: white !important;
    }
    .clear-button {
        margin:5px;
        background: none !important;
        border: none !important;
      
        border-radius: 50%;
        border: 1px solid #2ED3AE !important;
        width:55px;height:55px;
    }
        .clear-button > i {
          color:#08D7AD;
          padding:8px;
        }

        .clear-button > i:hover {
        color:white;
        }
        .clear-button:hover {
            background: #08D7AD !important;
            border: 1px solid #2ED3AE !important;
            color: white !important;
          }
</style>
<div id="register-login-modal" class="animated flipInX" style="margin-top:5%;font-family: Lato;">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Sign In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Sign Up</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent" style="background:#f2f2f2;width:50%;margin:0 auto;padding-top:0!important">
        <button type="button" class="btn btn-cutoutwiz" style="float:right;display:none" onclick="javascript:app.showLogin(this)" id="modal-cross">
            <i class="fa fa-times"></i>
        </button>
        <div class="tab-pane fade active" id="home" role="tabpanel" aria-labelledby="home-tab" style="padding-top:5%;margin-bottom:5%">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div id="sign-in-form">
                        <div class="form-group">
                            <input placeholder="Email address" class="form-control input-custom" id="login-email"/>
                        </div>
                        <div class="form-group">
                            <input placeholder="Password" type="password" class="form-control input-custom" id="login-password"/>
                        </div>                                           
                                    <div class="col-lg-6" style="padding:0!important">
                                    <span style="font-size:13px;cursor:pointer" id="fspan">Forgot your password?</span></div>
                                    <div class="col-lg-6" style="padding:0!important"> 
                                    <button id="sign-in-button" type="button" style="float:right" onclick="javascript: app.login(this)" class="btn btn-default button-custom">Sign In</button>
                                    </div>                              
                    </div>
                    <div style="display:none" id="forgot-area">
                       
                        <div id="forgot-contents">
                            <h3 style="text-align:center;margin-bottom:20px">Reset Password</h3>
                            <input type="email" class="form-control input-custom" placeholder="Put your account email address to reset" id="forgotemail" />
                            <div style="margin:0 auto;text-align:center;margin-top:15px"><button class="btn btn-default btn-cutoutwiz margin-15px" style="width:45%;" id="resetPass">Reset</button></div>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="row" style="padding-top:47px" id="or-text">
                <div class="col-xs-8 col-xs-offset-2">
                    <div style="width:36%;float:left;border:.5px solid #08D7AD"></div>
                    <div style="text-align:center;width:24%;float:left;margin-top:-10px;font-size:12px;padding-left:5px;padding-right:5px">or Sign In with</div>
                    <div style="width:40%;float:left;border:.5px solid #08D7AD"></div>
                </div>
            </div>
            <div class="row" style="text-align:center;margin-top:25px" id="thitd-party-logins">
                <form action="/Account/ExternalLogin" method="post">
                    @foreach (var provider in loginProviders.Where(x => x.Name != "Twitter").ToList())
                    {
                        <button type="submit" class="clear-button" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                            @if (provider.Name.Equals("Google"))
                            {
                                <i class="fa fa-google social-icons" data-provider="Google" aria-hidden="true"></i>
                            }
                            @*else if (provider.Name.Equals("Facebook"))
                            {
                                <i class="fa fa-facebook social-icons" data-provider="facebook" aria-hidden="true"></i>
                            }*@
                            @*else if (provider.Name.Equals("Twitter"))
                        {
                            <i class="fa fa-twitter social-icons" data-provider="twitter" aria-hidden="true"></i>
                        }*@
                            else if (provider.Name.Equals("LinkedIn"))
                            {
                                <i class="fa fa-linkedin social-icons" data-provider="linkedin" aria-hidden="true"></i>
                            }
                        </button>
                    }
                </form>
            </div>

        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" style="padding-top:32px">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10" id="reg">
                    <div id="register-form">    
                        <div class="form-group">
                            <input type="text" name="FirstName" id="FirstName" class="form-control input-custom" placeholder="First Name"/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="LastName" id="LastName" class="form-control input-custom" placeholder="Last Name" />
                        </div>
                        <div class="form-group">
                            <input type="email" name="RegEmail" id="RegEmail" class="form-control input-custom" placeholder="example@example.com"/>                         
                        </div>
                        <div class="form-group">
                            <input type="password" name="RegPassword" id="RegPassword" class="form-control input-custom" placeholder="Password" />                            
                        </div>
                        <div class="form-group">
                            <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control input-custom" placeholder="Confirm Password"/>                       
                        </div>
                        <p style="display:none;color:crimson;font-style:italic;font-size:12px;float:left;width:70%;margin-top:0!important" id="register-error">
                        Error Occured
                        </p>
                        <button style="float:right;color:white;background:#2ED3AE" type="button" id="sign-up-btn" onclick="javascript:app.signUp()" class="btn btn-default button-custom">Sign Up</button>
                    </div>
                    <div id="reg-success" style="color:forestgreen;display:none;padding-top:7%;text-align:left">
                        <p style="text-align:center"></p>
                    </div>
                    <div id="reg-error" class="form-group" style="color:red;display:none;padding-top:10%;text-align:left">
                        <p style="text-align:center"></p>
                    </div>
                    <div class="row" style="padding-top:47px" id="or-text">
                        <div class="col-xs-12">
                            <div style="width:36%;float:left;border:.5px solid #08D7AD"></div>
                            <div style="text-align:center;width:24%;float:left;margin-top:-10px;font-size:12px;padding-left:5px;padding-right:5px">or Sign Up with</div>
                            <div style="width:40%;float:left;border:.5px solid #08D7AD"></div>
                        </div>
                    </div>
                    <div class="row" style="text-align:center;margin-top:25px" id="thitd-party-logins">
                        <form action="/Account/ExternalLogin" method="post">
                            @foreach (var provider in loginProviders.Where(x=>x.Name!= "Twitter").ToList())
                            {
                                <button type="submit" class="clear-button" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    @if (provider.Name.Equals("Google"))
                                    {
                                        <i class="fa fa-google social-icons" data-provider="Google" aria-hidden="true"></i>
                                    }
                                    @*else if (provider.Name.Equals("Facebook"))
                                    {
                                        <i class="fa fa-facebook social-icons" data-provider="facebook" aria-hidden="true"></i>
                                    }*@
                                    @*else if (provider.Name.Equals("Twitter"))
                                    {
                                        <i class="fa fa-twitter social-icons" data-provider="twitter" aria-hidden="true"></i>
                                    }*@
                                    else if (provider.Name.Equals("LinkedIn"))
                                    {
                                        <i class="fa fa-linkedin social-icons" data-provider="linkedin" aria-hidden="true"></i>
                                    }
                                </button>
                            }
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
    </div>
<script>
    $(document).ready(function () {
        $("#home-tab").click();
    });
    $("#fspan").click(function () {
        $("#sign-in-form,#myTab").hide();
        $("#forgot-area,#forgot-contents,#modal-cross").show();
    });
    $("#profile-tab").click(function () {
        $("#reg-success,#reg-error").hide();
        $("#register-form,#myTab,#thitd-party-logins,#or-text").show();

    });
    $("#forgot-area").on("click", "#resetPass", function () {
        var model = {
            email: $("#forgotemail").val()
        }
        if (validateEmail(model.email)) {
            $.ajax({
                type: 'POST',
                url: '/Account/ForgotPassword',
                data: model,
                success: function (res) {
                    $("#forgot-contents").hide();
                    if (res == "not") {                       
                        $("#forgot-area").append('<p style="text-align:center;color:red">' +
                            'You are not registered or you didn\'t confirmed your email.'
                            + '</p >');

                    } else if (!res) {
                        $("#forgot-area").append('<p style="text-align:center;color:green">' +
                            'Can not send email. Please try again later.'
                            + '</p >');
                    }
                    else if (res) {
                        $("#forgot-area").append('<p style="text-align:center;color:green">' +
                            'A link to reset your password has been sent to your email.Go to the link to reset your password.'
                            + '</p >');
                    }
                }
            });
        } else {
            $("#forgotemail").addClass("red-border");
            return;
        }

    });
    function validateEmail(email) {
        var pattern = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
return $.trim(email).match(pattern) ? true : false;
}

</script>
@*<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
