﻿@model RegisterViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
           
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
               
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button style="float:right" type="submit" class="btn btn-default">Sign up</button>
        </form>

       <div class="row" style="text-align:center;padding-top:10%">
           <form asp-route-returnUrl="/Account/ExternalLogin" method="post">
               <button type="submit" name="provider" value="google" title="Log in using your Google account">
                   <i class="fa fa-google-plus-official social-icons" style="color:#E63A2D" aria-hidden="true"></i>
             </button>
               <button type="submit" class="btn btn-default" name="provider" value="Facebook" title="Log in using your Facebook account">
                   <i class="fa fa-facebook-official social-icons" style="color:#3b5998" aria-hidden="true"></i>
               </button>
               <button type="submit" class="btn btn-default" name="provider" value="Twitter" title="Log in using your Twitter account">
                   <i class="fa fa-twitter social-icons" style="color:#05A2F2" aria-hidden="true"></i>

               </button>
               <button type="submit" class="btn btn-default" name="provider" value="LinkedIn" title="Log in using your OAuth account">
                   <i class="fa fa-linkedin social-icons" style="color:#07587A" aria-hidden="true"></i>
               </button>
           </form>
   
  
   
  
</div>

  
<style>
    .social-icons {
    font-size:42px;
    padding:10px
    }
</style>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
