﻿@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style>
    body {
        background: black;
    }

    .pass-error {
        border: 1px solid red !important;
        border-left: 5px solid red !important;
    }

    .social-icons {
        font-size: 32px;
        text-align: center;
    }

    .nav {
        background: #f2f2f2;
        width: 50%;
        margin: 0 auto;
    }

        .nav > li {
            text-align: center;
            width: 50%;
            display: inline-block !important;
            background: #2ED3AE;
            height: 90px;
            border: none;
            padding: 0;
            margin: 0;
        }

            .nav > li > a {
                padding: 30px;
                color: white !important;
                font-size: 25px;
            }

                .nav > li > a:hover {
                    background: none;
                    border: none !important;
                }

    .nav-tabs > li.active, .nav-tabs > li.active > a {
        background: #f2f2f2 !important;
        color: black !important;
    }

    #myTabContent {
        padding-bottom: 2%;
    }

    .input-custom {
        border-radius: 0 !important;
        font-style: italic;
        height: 40px !important;
        border: 1px solid #2ED3AE;
        border-left: 5px solid #2ED3AE;
    }

    .button-custom {
        border-radius: 0 !important;
        min-width: 90px;
        color: white;
        font-size: 16px;
        height: 40px;
        background: #2ED3AE;
        border: none;
    }

        .button-custom:hover {
            background: white !important;
            color: #2ED3AE !important;
            border: none;
        }

    .nav-tabs {
        border: none !important;
    }

    .i-color {
        color: #2ED3AE !important;
    }

        .i-color:hover {
            color: white !important;
        }

    .clear-button {
        margin: 5px;
        background: none !important;
        border: none !important;
        border-radius: 50%;
        border: 1px solid #2ED3AE !important;
        width: 55px;
        height: 55px;
    }

        .clear-button > i {
            color: #08D7AD;
            padding: 8px;
        }

            .clear-button > i:hover {
                color: white;
            }

        .clear-button:hover {
            background: #08D7AD !important;
            border: 1px solid #2ED3AE !important;
            color: white !important;
        }
</style>
<div id="register-login-modal" class="animated flipInX" style="margin-top:5%;font-family: Lato;">
    <div class="tab-content" id="myTabContent" style="background:#f2f2f2;width:50%;margin:0 auto;">
        <div class="" id="home" style="padding-top:5%;margin-bottom:5%">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <h3 style="margin-bottom:25px;text-align:center">Reset password</h3>
                    <form method="post">
                        @*<div asp-validation-summary="All" class="text-danger"></div>*@
                        <input asp-for="Code" type="hidden" />
                        <div class="form-group">
                            <input asp-for="Email" required class="form-control input-custom" placeholder="Email address"/>
                            
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" required class="form-control input-custom" placeholder="New Password"/>
                            
                          
                        </div>
                        <div class="form-group">
                            <input asp-for="ConfirmPassword" required class="form-control input-custom" placeholder="Confirm new password"/>
                            
                        </div>
                        <div class="form-group">
                            <label style="display:none;font-size:14px" id="confirmation"></label>
                        </div>
                        <div class="col-lg-12" style="padding:0!important;margin:0 auto;text-align:center">
                            <button type="submit" id="reset-password" class="btn btn-default button-custom">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $("#reset-password").click(function () { 

        $(".form-control").each(function () { 
            if ($(this).val() == "") {
                $(this).addClass("red-border");

            } else {
                $(this).removeClass("red-border");

            }
        });
    });
</script>
@*<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Reset</button>
        </form>
    </div>
</div>*@

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
