﻿/*body {

    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.product-image-box{
     width: 60px;
    height: 60px;
}
.image-box {
    width: 100px;
    height: 100px;
}

#checkout,#goto-checkoutboard-btn,#checkout-cancel-btn,#replace-btn {
    float: right
}
#checkout-area {
    display: none;
}

.show {
    display: block;
}
.hide {
    display:none
}


#goto-checkoutboard-btn-area {
    position: fixed;
    top: 55px;
    right: 15px;
}

.selected-image-copunt-area {
    display: inline-block;
    float: right;
    margin-right: 10px;
    font-size: large;
    margin-top: 6px;
}
#goto-product-gallery-btn,#goto-invoice-gallery-btn {
   /*float: right;*/
    /*margin-right: 50px;
    margin-bottom: 5px;*/
    margin:auto;
    display: inline-block;
}
.topnav {
  overflow: hidden;
  background-color: #43467F;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.green {
    color: green;
    font-weight: bold;
}
.red {
    color: red;
    font-weight: bold;
}
#comments-div {
    margin-top: 10px
}
#comments-text {
    max-width: 500px !important;
   height: 160px !important;
}


/*Gallery Css*/


    .wrap {
      overflow: hidden;
      /*margin: 10px;*/
    }
    .box {
      float: left;
      position: relative;
      width: 16.66%;
      padding-bottom: 16.66%;
    }
    .boxInner {
      position: absolute;
      /*left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;*/
      overflow: hidden;
        cursor: pointer;
    }
    .boxInner img {
      width: 100%;
      height: 100%;
    }
    .boxInner .titleBox {
        display:none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      /*margin-bottom: -150px;*/
      background: #000;
      background: rgba(0, 0, 0, 0.5);
      color: #FFF;
      padding: 10px;
      text-align: center;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
        .boxInner .downloadIcon-top {
            display: none;
            position: absolute;
            /*bottom: 0;*/
            left: 0;
            right: 0;
            /*margin-top: -80px;*/
            background: #000;
            background: rgba(0, 0, 0, 0.5);
            color: #FFF;
            padding: 10px;
            text-align: center;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

div.no-touch .boxInner:hover .titleBox, div.touch .boxInner.touchFocus .titleBox {
    margin-bottom: 0;
}
    @media only screen and (max-width : 480px) {
      /* Smartphone view: 1 tile */
      .box {
        width: 100%;
        padding-bottom: 100%;
      }
    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
      /* Tablet view: 2 tiles */
      .box {
        width: 50%;
        padding-bottom: 50%;
      }
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
      /* Small desktop / ipad view: 3 tiles */
      .box {
        width: 33.3%;
        padding-bottom: 33.3%;
      }
    }
    @media only screen and (max-width : 1290px) and (min-width : 1051px) {
      /* Medium desktop: 4 tiles */
      .box {
        width: 16.66%;
        padding-bottom: 16.66%;
      }
    }

/*Gallery Css End*/

#loadingDiv {
    display: none;
}
#loadingDiv > img {
    position: fixed;
    top: 45%;
    left: 50%;
    margin: -50px 0px 0px -50px;
    width: 130px;
    height: 130px;
}

.select-image-checkbox,.select-product-checkbox,.select-invoice-image-checkbox,.select-invoice-checkbox {
    position: absolute!important;
    left: 10px!important;
    top: 9px!important;
    z-index: 5!important;
    width: 25px!important;
    height: 25px!important;
}
.select-all-image-checkbox,.select-all-invoice-image-checkbox,.select-all-order-checkbox,.select-all-invoice-checkbox {
    margin-top: 7px!important;
    margin-left: 7px!important;
    width: 25px !important;
    height: 25px !important;
}

input[type="checkbox"]:checked:after {
    width: 2.2rem!important;
    height: 2.2rem!important;
    -ms-background-size: 26px 17px!important;
    background-size: 26px 17px!important;
}

input[type="date"] {
    position: relative;
    padding: .5rem 1rem;
    background-color: #fff;
    border: .1rem solid #c4cdd5;
    border-radius: .3rem;
    color: #31373d;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.4rem;
    min-width: 7.5rem;
    vertical-align: baseline;
    height: auto;
    margin: 0;
    max-width: 100%;
    font-family: -apple-system, "BlinkMacSystemFont", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    box-shadow: 0 0 0 1px transparent, 0 1px 0 0 rgba(22, 29, 37, 0.05);
    box-sizing: border-box;
    -webkit-transition: box-shadow 0.2s cubic-bezier(0.64, 0, 0.35, 1);
    transition: box-shadow 0.2s cubic-bezier(0.64, 0, 0.35, 1);
}
.container {
    padding-bottom: 20px;
}

#orderlist-dataTable {
    display: none;
}
.table.dataTable thead th, table.dataTable thead td,table.dataTable.no-footer,table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #FF4500 !important;
}
table > thead > tr > th {
    font-size: 12px!important;
    text-transform: uppercase !important;
    color: #9A9A9A !important;
}
.dataTables_length{
    text-align: left;
}
.dataTables_length select {
    float: left;
}
.dataTables_length label {
    display: inline-block;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 1px 10px !important;
    text-align: center;
}
table.dataTable thead tr th {
    text-align: center;
}
.paynow-btn {
    padding: 0px 5px !important;
    min-height: 2.6rem !important;
    margin-top: 3px!important;
}
.capitalize {
    text-transform: capitalize;
}

#excel-import {
    position: absolute;
    right: 20px;
    top: 42px;
    cursor: pointer;
    z-index: 222;
}
.highcharts-credits {
    display: none;
}

.side-elements label {
    width: 20%;
}
.side-elements input {
    width: 78%;
}

.side-elements textarea {
    max-width: none;
}
.font-red-bold {
/*font-weight:bold;*/
color:red!important;
}
.font-green-bold {
    font-weight: bold;
    color: forestgreen;
}
.font-normal {
    font-weight: normal;
    color: #637381;
}
#suceess-greeting {
    
}
.alert-notice {
    background-color: white !important;
    background: -webkit-linear-gradient(#c3ece4,white, white, #c3ece4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c3ece4,white, white, #c3ece4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c3ece4,white, white, #c3ece4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c3ece4, white,white, #c3ece4); /* Standard syntax */
    padding: 0;
    -moz-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px;
}.coutout-art {
    width: 230px;
    margin: 30px 0;
}
.all-center {
    margin: 0 auto;
    text-align: center;
}
.checkout-success-text {
    padding: 20px;
    padding-top: 12%;
    font-size: 16px;
    line-height: 25px;
}

.iti-flag {
    background-image: url("../Scripts/intl-tel-input/img/flags.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .iti-flag {
        background-image: url("../Scripts/intl-tel-input/img/flags@2x.png");
    }
}