﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Profile</title>

    <environment include="Development,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/thumbnail-gallery.css"/>
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
        <link rel="stylesheet" href="~/css/uptown.css"/>
        <link rel="stylesheet" href="~/css/cutoutwizApp.css"/>
        <link rel="stylesheet" href="~/css/hover-min.css"/>
        <link rel="stylesheet" href="~/lib/intl-tel-input/css/intlTelInput.css"/>

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/appScript.js"></script>
        <script src="~/lib/intl-tel-input/js/intlTelInput.min.js"></script>
       <script src="~/js/toastr.min.js"></script>

    </environment>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="AdminPanel" asp-action="Index" class="navbar-brand">ProfileManagement</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   
                    <li><a asp-area="" asp-controller="AdminPanel" asp-action="AdminFaq">Add/Update Faq</a></li>
                    <li><a href="/AdminPanel/AllPaymentsRecords">Payment</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content column twelve">
        <main style="margin-top:70px">
        @RenderBody()
        </main>
        <hr />
        <footer>
            <p>&copy; 2017 - ProfileManagement</p>
        </footer>
    </div>

    <environment include="Development,Production">

       
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>


    @RenderSection("Scripts", required: false)
</body>
</html>
