﻿<div class="vd_mega-menu-content width-xs-3 width-sm-4 width-md-5 right-xs left-sm" data-action="click-target" style="display: none;">
    <div class="child-menu">
        <div class="title">
            Contact Requests
            <div class="vd_panel-menu">
                <span data-original-title="Find User" data-toggle="tooltip" data-placement="bottom" class="menu">
                    <i class="fa fa-search"></i>
                </span>
                <span data-original-title="Message Setting" data-toggle="tooltip" data-placement="bottom" class="menu">
                    <i class="fa fa-cog"></i>
                </span>
            </div>
        </div>
        <div class="content-grid column-xs-2 column-sm-3 height-xs-4">
            <div data-rel="scroll" class="mCustomScrollbar _mCS_1" style="overflow: hidden;">
                <div class="mCustomScrollBox mCS-light" id="mCSB_1" style="position: relative; height: 100%; overflow: hidden; max-width: 100%; max-height: 400px;">
                    <div class="mCSB_container mCS_no_scrollbar" style="position: relative; top: 0px;">
                        <ul class="list-wrapper">
                            <li>
                                <a href="#">
                                    <div class="menu-icon"><img alt="example image" src="~/img/avatar.jpg"></div>
                                </a>
                                <div class="menu-text">
                                    Md Ashikur Rahman
                                    <div class="menu-info">
                                        <div class="menu-date">Dhaka, Bangladesh</div>
                                        <div class="menu-action">
                                            <span class="menu-action-icon vd_green vd_bd-green" data-original-title="Approve" data-toggle="tooltip" data-placement="bottom">
                                                <i class="fa fa-check"></i>
                                            </span>
                                            <span class="menu-action-icon vd_red vd_bd-red" data-original-title="Reject" data-toggle="tooltip" data-placement="bottom">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="warning">
                                <a href="#">
                                    <div class="menu-icon"><img alt="example image" src="~/img/avatar-2.jpg"></div>
                                </a>
                                <div class="menu-text">
                                    Abdur Rahman
                                    <div class="menu-info">
                                        <div class="menu-date">Sylhet, Dhaka</div>
                                        <div class="menu-action">
                                            <span class="menu-action-icon vd_green vd_bd-green" data-original-title="Approve" data-toggle="tooltip" data-placement="bottom">
                                                <i class="fa fa-check"></i>
                                            </span>
                                            <span class="menu-action-icon vd_red vd_bd-red" data-original-title="Reject" data-toggle="tooltip" data-placement="bottom">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="menu-icon"><img alt="example image" src="~/img/avatar-3.jpg"></div>
                                </a>
                                <div class="menu-text">
                                    Sakura Chowdhury
                                    <div class="menu-info">
                                        <div class="menu-date">Hawaii, USA</div>
                                        <div class="menu-action">
                                            <span class="menu-action-icon vd_green vd_bd-green" data-original-title="Approve" data-toggle="tooltip" data-placement="bottom">
                                                <i class="fa fa-check"></i>
                                            </span>
                                            <span class="menu-action-icon vd_red vd_bd-red" data-original-title="Reject" data-toggle="tooltip" data-placement="bottom">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="menu-icon"><img alt="example image" src="~/img/avatar-4.jpg"></div>
                                </a>
                                <div class="menu-text">
                                    Rikudou Sennin
                                    <div class="menu-info">
                                        <div class="menu-date">Las Vegas</div>
                                        <div class="menu-action">
                                            <span class="menu-action-icon vd_green vd_bd-green" data-original-title="Approve" data-toggle="tooltip" data-placement="bottom">
                                                <i class="fa fa-check"></i>
                                            </span>
                                            <span class="menu-action-icon vd_red vd_bd-red" data-original-title="Reject" data-toggle="tooltip" data-placement="bottom">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><div class="mCSB_scrollTools" style="position: absolute; display: none;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position:relative;"></div></div><div class="mCSB_draggerRail"></div></div></div>
                </div>
            </div>
            <div class="closing text-center" style="">
                <a href="#">See All Requests <i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div> <!-- child-menu -->
</div>   <!-- vd_mega-menu-content -->
