﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - CutOutWiz</title>
    <environment include="Development,Production">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Shadows+Into+Light%7CLibre+Franklin:200,300,400,600,700" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/fontawesome.min.css" />
        <link rel="stylesheet" href="~/cutoutwiz/css/style.css" />
        <link rel="stylesheet" href="~/css/thisSite.css" />
        <link rel="stylesheet" href="~/lib/intl-tel-input/css/intlTelInput.css" />
        <link rel="stylesheet" href="~/css/hover-min.css" />
        <link rel="stylesheet" href="~/lib/jquery-modal/jquery.modal.css" />
        <link rel="stylesheet" href="~/lib/fakeLoader/fakeLoader.css"/>
        <script src="~/lib/jquery/dist/jquery.js"></script>

        <script src="~/lib/jquery-circle-progress/dist/circle-progress.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/jquery.toaster.js"></script>
        <script src="~/lib/jquery-modal/jquery.modal.min.js"></script>

    </environment>
</head>
<body style="width:100%!important;overflow-x:hidden;overflow-y:scroll">
    <div id="fakeLoader"></div>
    <div class="text-center page">
        <header class="page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap" style="height: 142px;">
                <nav style="background:#333333;padding-bottom:0!important" class="rd-navbar rd-navbar-default rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="300px" data-lg-stick-up-offset="1px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
                    <div class="rd-navbar-inner">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button class="rd-navbar-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                            <!-- RD Navbar Brand-->
                            <div class="rd-navbar-brand">
                                <a class="brand-name" href="/Upload">
                                    <img src="~/cutoutwiz/images/logo.png" width="90px" height="90px" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="rd-navbar-aside-right">
                            <div class="rd-navbar-nav-wrap toggle-original-elements">
                                <!-- RD Navbar Nav-->
                                <ul class="rd-navbar-nav" style="color:aqua!important">
                                    <li><a asp-area="" asp-controller="Upload" asp-action="UploadPhoto">Upload</a></li>
                                    @*<li><a asp-area="" asp-controller="Dashboard" asp-action="PhotoGallery">Photo Gallery</a></li>*@
                                    <li><a asp-area="" asp-controller="Completion" asp-action="Index">Completed Images</a></li>
                                    <li><a asp-area="" asp-controller="Profile" asp-action="YourProfile">Profile</a></li>
                                    <li><a asp-area="" asp-controller="Order" asp-action="AllOrders">My Orders</a></li>
                                    <li><a asp-area="" asp-controller="Other" asp-action="AppFaq">FAQ & Support</a></li>
                                    @*<li><a asp-area="" asp-controller="Account" asp-action="AppFaq">Log In</a></li>*@
                                    @*<li class="active"><a href="#home">Home</a></li>
                                        <li><a href="#features">Features</a></li>
                                        <li><a href="#industry_verticals">Industry Verticals</a></li>
                                        <li><a href="#how_we_work">How we work</a></li>
                                        <li><a href="#price">Price</a></li>
                                        <li><a href="localhost">Blog</a></li>
                                        <li><a href="#contact">Contact Us</a></li>
                                        <li><a href="#faqs">FAQ</a></li>*@
                                    @await Html.PartialAsync("_LoginPartial")
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div id="main-body"> @RenderBody()</div>

    </div>
    <div id='loadingDiv'>
        <img src="~/images/loading2.gif" />
    </div>
    <environment include="Development,Production">


        <script src="~/cutoutwiz/js/core.min.js"></script>
        <script src="~/cutoutwiz/js/script.js"></script>

        @* <script src="~/lib/intl-tel-input/js/intlTelInput.  min.js"></script>*@

        <script src="~/lib/intl-tel-input/js/intlTelInput.min.js"></script>
        <script src="~/js/appScript.js"></script>
        <script src="~/lib/fakeLoader/fakeLoader.js"></script>
    </environment>
    @*<script type="text/javascript">
        $("#fakeLoader").fakeLoader();
    </script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
