﻿@*<div class="vd_menu-search">
    <form id="search-box" method="post" action="">
        <input type="text" name="search" class="vd_menu-search-text width-60" placeholder="Search">
        <div class="vd_menu-search-category">
            <span data-action="click-trigger"> <span class="separator"></span> <span class="text">Category</span> <span class="icon"> <i class="fa fa-caret-down"></i></span> </span>
            <div class="vd_mega-menu-content width-xs-2 center-xs-2 right-sm" data-action="click-target" style="display: none;">
                <div class="child-menu">
                    <div class="content-list content-menu content">
                        <ul class="list-wrapper">
                            <li>
                                <label>
                                    <input type="checkbox" value="all-files">
                                    <span>All Files</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox" value="photos">
                                    <span>Photos</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox" value="illustrations">
                                    <span>Illustrations</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox" value="video">
                                    <span>Video</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox" value="audio">
                                    <span>Audio</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox" value="flash">
                                    <span>Flash</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <span class="vd_menu-search-submit"><i class="fa fa-search"></i> </span>
    </form>
</div>*@