﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Profile Management</title>
    <meta name="keywords" content="HTML5 Template, CSS3, All Purpose Admin Template, Vendroid">
    <meta name="description" content="User Profile Pages - Responsive Admin HTML Template">
    <meta name="author" content="CutOutWiz">

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <!-- Bootstrap & FontAwesome & Entypo CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    @*<link href="~/Bootstrap_Country_Picker/css/bootstrap-select.min.css" rel="stylesheet" />*@

    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/fontawesome.css" rel="stylesheet" type="text/css">
    <!--[if IE 7]><link type="text/css" rel="stylesheet" href="css/font-awesome-ie7.min.css"><![endif]-->
    <link href="~/css/font-entypo.css" rel="stylesheet" type="text/css">
    <link href="~/css/fonts.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="~/css/jquery-ui.custom.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/prettyPhoto.css" rel="stylesheet" type="text/css">
    <link href="~/css/isotope.css" rel="stylesheet" type="text/css">
    <link href="~/css/jquery.pnotify.css" media="screen" rel="stylesheet" type="text/css">
    <link href="~/css/prettify.css" rel="stylesheet" type="text/css">

    @*Datatable*@
    <link href="~/datatables/css/dataTables.bootstrap.css" rel="stylesheet" />

    <link href="~/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
    <link href="~/css/jquery.tagsinput.css" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap-switch.css" rel="stylesheet" type="text/css">
    <link href="~/css/daterangepicker-bs3.css" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/colorpicker.css" rel="stylesheet" type="text/css">

    <link href="~/css/theme.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/chrome.css" rel="stylesheet" type="text/chrome"> <!-- chrome only css -->
    <link href="~/css/theme-responsive.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/custom.css" rel="stylesheet" type="text/css">

    <!-- Head SCRIPTS -->
    <script type="text/javascript" src="~/js/jquery.js"></script>
    @*<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>*@
    @*<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui.custom.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.ui.touch-punch.min.js"></script>

    <script type="text/javascript" src="~/js/caroufredsel.js"></script>
    <script type="text/javascript" src="~/js/plugins.js"></script>

    <script type="text/javascript" src="~/js/breakpoints.js"></script>
    @* <script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>*@
    <script src="~/datatables/js/jquery.dataTables.js"></script>
    <script src="~/datatables/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="~/js/jquery.prettyPhoto.js"></script>

    <script type="text/javascript" src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/js/jquery.pnotify.min.js"></script>

    <script type="text/javascript" src="~/js/theme.js"></script>
    <script type="text/javascript" src="~/js/custom.js"></script>

    <script type="text/javascript" src="~/js/isotope.pkgd.min.js"></script>


    <script type="text/javascript" async="" src="~/js/ga.js"></script>
    <script type="text/javascript" src="~/js/modernizr.js"></script>
    <script type="text/javascript" src="~/js/mobile-detect.min.js"></script>
    <script type="text/javascript" src="~/js/mobile-detect-modernizr.js"></script>
    <script type="text/javascript" src="~/js/appScript.js"></script>


    <![endif]-->

    @*for email text editor*@
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/richtext.min.css" rel="stylesheet" />

    <script src="~/js/jquery.richtext.min.js"></script>

    @*// for country Selection*@
    <link href="~/country-select-latest/build/css/countrySelect.css" rel="stylesheet" />
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>*@
    <script src="~/country-select-latest/src/js/countrySelect.js"></script>>

</head>

<body id="pages" class="full-layout  nav-right-hide nav-right-start-hide  nav-top-fixed responsive clearfix breakpoint-975 sticky-menu-active"
      data-active="pages " data-smooth-scrolling="1" style="padding-top: 63px;">

    <div class="vd_body">

        <header class="header-1" id="header">
            <div class="vd_top-menu-wrapper">
                <div class="container ">
                    <div class="vd_top-nav vd_nav-width  ">
                        <div class="vd_panel-header">
                            <div class="logo">
                                <a href=""><img alt="logo" src="~/img/logo.png"></a>
                            </div>
                            <!-- logo -->
                            <div class="vd_panel-menu  hidden-sm hidden-xs" data-step="1">
                                <span class="nav-medium-button menu" data-toggle="tooltip" data-placement="bottom" data-original-title="Resize Menu" data-action="nav-left-medium">
                                    <i class="fa fa-bars"></i>
                                </span>

                                <span class="nav-small-button menu" data-toggle="tooltip" data-placement="bottom" data-original-title="Resize Menu-Small" data-action="nav-left-small">
                                    <i class="fa fa-ellipsis-v"></i>
                                </span>

                            </div>
                            <div class="vd_panel-menu left-pos visible-sm visible-xs">
                                <span class="menu" data-action="toggle-navbar-left">
                                    <i class="fa fa-ellipsis-v"></i>
                                </span>
                            </div>
                            <div class="vd_panel-menu visible-sm visible-xs">
                                <span class="menu visible-xs" data-action="submenu">
                                    <i class="fa fa-bars"></i>
                                </span>
                                <span class="menu visible-sm visible-xs" data-action="toggle-navbar-right">
                                    <i class="fa fa-comments"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="vd_container">
                        <div class="row">
                            <div class="col-sm-5 col-xs-12">
                                @{
                                    await Html.RenderPartialAsync("_GlobalSearch");
                                }
                            </div>
                            <div class="col-sm-7 col-xs-12">
                                <div class="vd_mega-menu-wrapper">
                                    <div class="vd_mega-menu pull-right">
                                        <ul class="mega-ul">

                                            <li id="top-menu-2" class="one-icon mega-li">
                                                <a href="" class="mega-link" data-action="click-trigger">
                                                    <span class="mega-icon"><i class="fa fa-envelope"></i></span>
                                                    <span class="badge vd_bg-red">10</span>
                                                </a>

                                                @{
                                                    await Html.RenderPartialAsync("_Message");
                                                }
                                            </li>

                                            <li id="top-menu-profile" class="profile mega-li">
                                                <a href="" class="mega-link" data-action="click-trigger">
                                                    <span class="mega-image">
                                                        @if (SignInManager.IsSignedIn(User))
                                                        {
                                                            var user = await UserManager.GetUserAsync(User);
                                                            @*<img id="profile-image" src="@user?.ProfilePicture" alt="example image" style="width:40px; height:40px">*@
                                                            if (@user?.ProfilePicture == null)
                                                            {
                                                                <img style="width:40px; height:40px" src="~/img/avatar2.jpg">
                                                            }
                                                            else
                                                            {
                                                                <img style="width:40px; height:40px" src="@user?.ProfilePicture" alt="no image">
                                                            }
                                                        }
                                                    </span>
                                                    <span class="mega-name">
                                                        @if (SignInManager.IsSignedIn(User))
                                                        {
                                                            @User.Identity.Name.Split('@')[0] <i class="fa fa-caret-down fa-fw"></i>
                                                        }
                                                    </span>
                                                </a>

                                                @{
                                                    await Html.RenderPartialAsync("_Settings");
                                                }
                                            </li>

                                        </ul>
                                        <!-- Head menu search form ends -->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- container -->
            </div>
        </header>

        <div class="content">
            <div class="container">
                <div class="vd_navbar vd_nav-width vd_navbar-tabs-menu vd_navbar-left  ">
                    @*<div class="navbar-tabs-menu clearfix">
                            <span class="expand-menu" data-action="expand-navbar-tabs-menu">
                                <span class="menu-icon menu-icon-left">
                                    <i class="fa fa-ellipsis-h"></i>
                                    <span class="badge vd_bg-red">
                                        20
                                    </span>
                                </span>
                                <span class="menu-icon menu-icon-right">
                                    <i class="fa fa-ellipsis-h"></i>
                                    <span class="badge vd_bg-red">
                                        20
                                    </span>
                                </span>
                            </span>
                            <div class="menu-container">
                                <div class="vd_mega-menu-wrapper">
                                    <div class="vd_mega-menu" data-intro="&lt;strong&gt;Tabs Menu&lt;/strong&gt;&lt;br/&gt;Can be placed for dropdown menu, tabs, or user profile. Responsive for medium and small size navigation." data-step="3">
                                        <ul class="mega-ul">
                                            <li id="tabs-menu-tasks" class="one-icon mega-li">
                                                <a class="mega-link  vd_bg-green" href="javascript:void(0);" data-action="click-trigger">
                                                    <span class="mega-icon">
                                                        <i class="fa fa-tasks"></i>
                                                    </span>
                                                    <span class="badge vd_bg-red">
                                                        8
                                                    </span>
                                                </a>
                                                @{
                                                    await Html.RenderPartialAsync("_PendingTask");
                                                }

                                            </li>
                                            <li id="test-2" class="one-icon mega-li">
                                                <a class="mega-link vd_bg-yellow" href="javascript:void(0);" data-action="click-trigger">
                                                    <span class="mega-icon">
                                                        <i class="fa fa-pencil"></i>
                                                    </span>
                                                </a>

                                                @{
                                                    await Html.RenderPartialAsync("_UserPost");
                                                }
                                            </li>
                                            <li id="test" class="one-icon mega-li">
                                                <a class="mega-link vd_bg-red" href="javascript:void(0);" data-action="click-trigger">
                                                    <span class="mega-icon">
                                                        <i class="fa fa-plus"></i>
                                                    </span>
                                                </a>
                                                <div class="vd_mega-menu-content  width-xs-2  center-xs-2" data-action="click-target" style="display: none;">
                                                    <div class="child-menu">
                                                        <div class="content-list content-menu">
                                                            <ul class="list-wrapper pd-lr-10">
                                                                <li> <a href=""> <span class="menu-icon"><i class=" fa fa-user"></i></span> <span class="menu-text">Write Article</span> </a> </li>
                                                                <li> <a href=""> <span class="menu-icon"><i class=" fa fa-trophy"></i></span> <span class="menu-text">Write News</span> </a> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>    vd_mega-menu-content
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <div class="navbar-menu clearfix">
                        <div class="vd_menu">
                            <ul>
                                <li>
                                    <a href="@Url.Action("DynamicIndex", "Home")">
                                        <span class="menu-icon"><i class="fa fa-envelope"></i></span>
                                        <span class="menu-text">Network</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="@Url.Action("Index", "User")">
                                        <span class="menu-icon"><i class="fa fa-dashboard"></i></span>
                                        <span class="menu-text">Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("MailInbox", "Home")">
                                        <span class="menu-icon"><i class="fa fa-envelope"></i></span>
                                        <span class="menu-text">Mail Inbox</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("MailOutbox", "Home")">
                                        <span class="menu-icon"><i class="fa fa-envelope"></i></span>
                                        <span class="menu-text">Mail OutBox</span>
                                    </a>
                                </li>
                                @*<li>
            <a href="@Url.Action("Index", "Home")">
                <span class="menu-icon"><i class="fa fa-envelope"></i></span>
                <span class="menu-text">Network Static</span>
            </a>

        </li>*@

                                @*<li>
            <a href="javascript:void(0);" data-action="click-trigger">
                <span class="menu-icon"><i class="fa fa-dashboard"></i></span>
                <span class="menu-text">Search</span>
            </a>
        </li>

        <li>
            <a href="javascript:void(0);" data-action="click-trigger">
                <span class="menu-icon"><i class="fa fa-dashboard"></i></span>
                <span class="menu-text">Article</span>
            </a>
        </li>

        <li>
            <a href="javascript:void(0);" data-action="click-trigger">
                <span class="menu-icon"><i class="fa fa-dashboard"></i></span>
                <span class="menu-text">News</span>
            </a>
        </li>

        <li>
            <a href="javascript:void(0);" data-action="click-trigger">
                <span class="menu-icon"><i class="fa fa-dashboard"></i></span>
                <span class="menu-text">Posts</span>
            </a>
        </li>*@
                            </ul>
                            <!-- Head menu search form ends -->
                        </div>
                    </div>
                    <div class="navbar-spacing clearfix">
                    </div>
                    <div class="vd_menu vd_navbar-bottom-widget">
                        <ul>
                            <li>
                                <a href="">
                                    <span class="menu-icon"><i class="fa fa-sign-out"></i></span>
                                    <span class="menu-text">Logout</span>
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>

                <div class="vd_navbar vd_nav-width vd_navbar-chat vd_bg-black-80 vd_navbar-right   ">
                    <div class="navbar-tabs-menu clearfix">
                        <span class="expand-menu" data-action="expand-navbar-tabs-menu">
                            <span class="menu-icon menu-icon-left">
                                <i class="fa fa-ellipsis-h"></i>
                                <span class="badge vd_bg-red">
                                    20
                                </span>
                            </span>
                            <span class="menu-icon menu-icon-right">
                                <i class="fa fa-ellipsis-h"></i>
                                <span class="badge vd_bg-red">
                                    20
                                </span>
                            </span>
                        </span>


                    </div>
                    <div class="navbar-spacing clearfix">
                    </div>
                </div>
                <!-- Middle Content Start -->
                <div class="vd_content-wrapper">
                    <div class="vd_container">
                        <div class="vd_content clearfix">
                            <div class="vd_head-section clearfix">
                                <div class="vd_panel-header">
                                    <div class="vd_panel-menu hidden-sm hidden-xs" data-intro="<strong>Expand Control</strong><br/>To expand content page horizontally, vertically, or Both. If you just need one button just simply remove the other button code." data-step=5 data-position="left">
                                        <div data-action="remove-navbar" data-original-title="Expand" data-toggle="tooltip" data-placement="bottom" class="remove-navbar-button menu"> <i class="fa fa-arrows-h"></i> </div>
                                        <div data-action="fullscreen" data-original-title="Full Screen" data-toggle="tooltip" data-placement="bottom" class="fullscreen-button menu"> <i class="glyphicon glyphicon-fullscreen"></i> </div>
                                    </div>

                                </div>
                            </div>
                            <main role="main" class="pb-3">
                                @RenderBody()
                            </main>

                            @RenderSection("Scripts", required: false)
                            <!-- .vd_content-section -->

                        </div>
                        <!-- .vd_content -->
                    </div>
                    <!-- .vd_container -->
                </div>
                <!-- .vd_content-wrapper -->
                <!-- Middle Content End -->
                <!-- Middle Content End -->

            </div>
            <!-- .container -->
        </div>
        <!-- .content -->
        <!-- Footer Start -->
        <footer class="footer-1" id="footer">
            <div class="vd_bottom ">
                <div class="container">

                </div><!-- container -->
            </div>
        </footer>
    </div>

    <a id="back-top" href="#" data-action="backtop" class="vd_back-top visible"> <i class="fa  fa-angle-up"> </i> </a>

</body>


