﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Profile</title>
    <environment include="Development,Production">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Shadows+Into+Light%7CLibre+Franklin:200,300,400,600,700" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/cutoutwiz/css/style.css" />
        <link rel="stylesheet" href="~/css/thisSite.css" />
        <link rel="stylesheet" href="~/css/toastr.min.css"/>
       <link rel="stylesheet" href="~/lib/intl-tel-input/css/intlTelInput.css"/>
        <link rel="stylesheet" href="~/css/hover-min.css" />
        <link rel="stylesheet" href="~/lib/iziModal/css/iziModal.css"/>
        <link rel="stylesheet" href="~/css/fontawesome.min.css"/>
        <link rel="stylesheet" href="~/css/animate.css"/>

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/toastr.min.js"></script>
    </environment>
</head>
<body style="width:100%!important;overflow-x:hidden;">
    @RenderBody()
    <environment include="Development,Production">
        <script src="~/cutoutwiz/js/core.min.js"></script>

        <script src="~/cutoutwiz/js/script.js"></script>
        <script src="~/js/appScript.js"></script>
        <script src="~/lib/iziModal/js/iziModal.min.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
