﻿<div class="vd_mega-menu-content width-xs-3 width-sm-4 width-md-5 width-lg-4 right-xs left-sm" data-action="click-target" style="display: none;">
    <div class="child-menu">
        <div class="title">
            Messages
            <div class="vd_panel-menu">
                <span data-original-title="Message Setting" data-toggle="tooltip" data-placement="bottom" class="menu">
                    <i class="fa fa-cog"></i>
                </span>
            </div>
        </div>
        <div class="content-list content-image">
            <div data-rel="scroll" class="mCustomScrollbar _mCS_2" style="overflow: hidden;">
                <div class="mCustomScrollBox mCS-light" id="mCSB_2" style="position: relative; height: 100%; overflow: hidden; max-width: 100%; max-height: 400px;">
                    <div class="mCSB_container mCS_no_scrollbar" style="position: relative; top: 0px;">
                        <ul class="list-wrapper pd-lr-10">
                            <li>
                                <div class="menu-icon"><img alt="example image" src="~/img/avatar.jpg"></div>
                                <div class="menu-text">
                                    Do you know how to write python code?
                                    <div class="menu-info">
                                        <span class="menu-date">12 Minutes Ago </span>
                                        <span class="menu-action">
                                            <span class="menu-action-icon" data-original-title="Mark as Unread" data-toggle="tooltip" data-placement="bottom">
                                                <i class="fa fa-eye"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="warning">
                                <div class="menu-icon"><img alt="example image" src="~/img/avatar-2.jpg"></div>
                                <div class="menu-text">
                                    Good job mate !
                                    <div class="menu-info">
                                        <span class="menu-date">1 Hour 20 Minutes Ago </span>
                                        <span class="menu-action">
                                            <span class="menu-action-icon" data-original-title="Mark as Read" data-toggle="tooltip" data-placement="bottom">
                                                <i class="fa fa-eye-slash"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="menu-icon"><img alt="example image" src="~/img/avatar-3.jpg"></div>
                                <div class="menu-text">
                                    Just calm down, the code is going to work.
                                    <div class="menu-info">
                                        <span class="menu-date">12 Days Ago</span>
                                        <span class="menu-action">
                                            <span class="menu-action-icon" data-original-title="Mark as Unread" data-toggle="tooltip" data-placement="bottom">
                                                <i class="fa fa-eye"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="menu-icon"><img alt="example image" src="~/img/avatar-5.jpg"></div>
                                <div class="menu-text">
                                    You should have known Transformers
                                    <div class="menu-info">
                                        <span class="menu-date">20 Days Ago</span>
                                        <span class="menu-action">
                                            <span class="menu-action-icon" data-original-title="Mark as Unread" data-toggle="tooltip" data-placement="bottom">
                                                <i class="fa fa-eye"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div><div class="mCSB_scrollTools" style="position: absolute; display: none;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position:relative;"></div></div><div class="mCSB_draggerRail"></div></div></div>
                </div>
            </div>
            <div class="closing text-center" style="">
                <a href="#">See All Notifications <i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div> <!-- child-menu -->
</div>   <!-- vd_mega-menu-content -->
