﻿<div class="vd_mega-menu-content  width-xs-3 width-sm-4  center-xs-3 left-sm" data-action="click-target" style="display: none;">
    <div class="child-menu">
        <div class="title">
            Notifications
            <div class="vd_panel-menu">
                <span data-original-title="Notification Setting" data-toggle="tooltip" data-placement="bottom" class="menu">
                    <i class="fa fa-cog"></i>
                </span>
                <!--                     <span class="text-menu" data-original-title="Settings" data-toggle="tooltip" data-placement="bottom">
                                    Settings
                                </span> -->
            </div>
        </div>
        <div class="content-list">
            <div data-rel="scroll" class="mCustomScrollbar _mCS_3" style="overflow: hidden;">
                <div class="mCustomScrollBox mCS-light" id="mCSB_3" style="position: relative; height: 100%; overflow: hidden; max-width: 100%; max-height: 400px;">
                    <div class="mCSB_container mCS_no_scrollbar" style="position: relative; top: 0px;">
                        <ul class="list-wrapper pd-lr-10">
                            <li>
                                <a href="#">
                                    <div class="menu-icon vd_yellow"><i class="fa fa-suitcase"></i></div>
                                    <div class="menu-text">
                                        Someone has given me a surprise
                                        <div class="menu-info"><span class="menu-date">12 Minutes Ago</span></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="menu-icon vd_blue"><i class=" fa fa-user"></i></div>
                                    <div class="menu-text">
                                        Changed my user profile details
                                        <div class="menu-info"><span class="menu-date">1 Hour 20 Minutes Ago</span></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="menu-icon vd_green"><i class=" fa fa-book"></i></div>
                                    <div class="menu-text">
                                        Added new article
                                        <div class="menu-info"><span class="menu-date">19 Days Ago</span></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="menu-icon vd_green"><img alt="example image" src="~/img/avatar.jpg"></div>
                                    <div class="menu-text">
                                        Changed Profile Pic
                                        <div class="menu-info"><span class="menu-date">20 Days Ago</span></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="menu-icon vd_green"><img alt="example image" src="~/img/avatar.jpg"></div>
                                    <div class="menu-text">
                                        Changed Profile Pic
                                        <div class="menu-info"><span class="menu-date">20 Days Ago</span></div>
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div><div class="mCSB_scrollTools" style="position: absolute; display: none;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position:relative;"></div></div><div class="mCSB_draggerRail"></div></div></div>
                </div>
            </div>
            <div class="closing text-center" style="">
                <a href="#">See All Notifications <i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div> <!-- child-menu -->
</div>   <!-- vd_mega-menu-content -->
