﻿<div class="vd_mega-menu-content width-xs-3 width-sm-4 width-md-5 right-xs" data-action="click-target" style="display: none;">
    <div class="child-menu">
        <div class="title">
            You have 8 pending tasks
            <div class="vd_panel-menu">
                <span data-original-title="Task Setting" data-toggle="tooltip" data-placement="bottom" class="menu">
                    <i class="fa fa-cog"></i>
                </span>
            </div>
        </div>
        <div class="content-list content-image">
            <div data-rel="scroll" class="mCustomScrollbar _mCS_5" style="overflow: hidden;">
                <div class="mCustomScrollBox mCS-light" id="mCSB_5" style="position: relative; height: 100%; overflow: hidden; max-width: 100%; max-height: 400px;">
                    <div class="mCSB_container mCS_no_scrollbar" style="position: relative; top: 0px;">
                        <ul class="list-wrapper pd-lr-10">
                            <li>
                                <a href="">
                                    <div class="menu-icon vd_blue"><i class="fa fa-bolt"></i></div>
                                    <div class="menu-text">
                                        Electricity Problem
                                        <div class="menu-info">
                                            <div class="progress progress-sm">
                                                <div style="width:85%" class="progress-bar progress-bar-info">
                                                    85%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="menu-icon vd_yellow"><i class="fa fa-code"></i></div>
                                    <div class="menu-text">
                                        Finish coding jquery plugin
                                        <div class="menu-info">
                                            <div class="progress progress-sm">
                                                <div style="width:20%" class="progress-bar progress-bar-danger">
                                                    20%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div class="menu-icon"><img alt="example image" src="~/img/avatar-3.jpg"></div>
                                    <div class="menu-text">
                                        Client: Zoe Project
                                        <div class="menu-info">
                                            <span class="menu-date">Make a call</span>
                                            <span class="menu-action">
                                                <span class="menu-action-icon" data-original-title="Call" data-toggle="tooltip" data-placement="bottom">
                                                    <i class="fa fa-phone"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="menu-icon"><i class=" fa fa-magic"></i></div>
                                    <div class="menu-text">
                                        Final error check on new templates
                                        <div class="menu-info">
                                            <div class="progress progress-sm">
                                                <div style="width:95%" class="progress-bar progress-bar-success">
                                                    95%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="menu-icon vd_green"><i class=" fa fa-camera"></i></div>
                                    <div class="menu-text">
                                        Update product image
                                        <div class="menu-info">
                                            <div class="progress progress-sm">
                                                <div style="width:50%" class="progress-bar progress-bar-warning">
                                                    50%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="menu-icon vd_blue"><i class="fa fa-bolt"></i></div>
                                    <div class="menu-text">
                                        Electricity Problem
                                        <div class="menu-info">
                                            <div class="progress progress-sm">
                                                <div style="width:85%" class="progress-bar progress-bar-info">
                                                    85%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="menu-icon vd_yellow"><i class=" fa fa-code"></i></div>
                                    <div class="menu-text">
                                        Finish coding jquery plugin
                                        <div class="menu-info">
                                            <div class="progress progress-sm">
                                                <div style="width:20%" class="progress-bar progress-bar-danger">
                                                    20%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div class="menu-icon"><img alt="example image" src="~/img/avatar-3.jpg"></div>
                                    <div class="menu-text">
                                        Client: Zoe Project
                                        <div class="menu-info">
                                            <span class="menu-date">Make a call</span>
                                            <span class="menu-action">
                                                <span class="menu-action-icon" data-original-title="Call" data-toggle="tooltip" data-placement="bottom">
                                                    <i class="fa fa-phone"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>


                        </ul>
                    </div><div class="mCSB_scrollTools" style="position: absolute; display: none;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position:relative;"></div></div><div class="mCSB_draggerRail"></div></div></div>
                </div>
            </div>
            <div class="closing text-center" style="">
                <a href="">See All Tasks <i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div> <!-- child-menu -->
</div>   <!-- vd_mega-menu-content -->