﻿@using Microsoft.AspNetCore.Identity
@using ProfileManagement.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="vd_mega-menu-content  width-xs-2  left-xs left-sm" data-action="click-target" style="display: none;">
    <div class="child-menu">
        <div class="content-list content-menu">
            <ul class="list-wrapper pd-lr-10">
                <li> <a href="@Url.Action("EditUser", "User")"> <div class="menu-icon"><i class=" fa fa-user"></i></div> <div class="menu-text">Udate Profile</div> </a> </li>
                <li class="line"></li>
                @*<li>
                    <a href="#">
                        <div class="menu-icon">
                            <i class=" fa fa-lock"></i>
                        </div> <div class="menu-text">Privacy</div>
                    </a>
                </li>*@
                <li> <a href="@Url.Action("UserInfo", "User")"> <div class="menu-icon"><i class=" fa fa-cogs"></i></div> <div class="menu-text">Settings</div> </a> </li>
                <li> <a href="#"> <div class="menu-icon"><i class="  fa fa-key"></i></div> <div class="menu-text">Do not disturb</div> </a> </li>
                @*<li><div class="menu-icon"><i class=" fa fa-sign-out"></i></div>  <div class="menu-text" onclick="javascript: app.Logout(this)">Sign Out</div></li>*@
                <li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                        <div class="menu-icon left"><i class=" fa fa-sign-out"></i></div>  <div class="menu-text">
                            <button type="submit" style="width:100%; text-align:left; background-color:white;";>LogOut</button>
                        </div>
                    </form>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>