﻿<div class="vd_mega-menu-content width-xs-3 width-sm-4 width-md-5 center-xs-3 right-sm pd-0" data-action="click-target" style="display: none;">
    <div class="child-menu">

        <textarea class="no-bd" rows="3" placeholder="What are you doing?"></textarea>
        <div class="vd_textarea-menu vd_bg-yellow vd_bd-yellow">
            <ul class="nav nav-pills ">
                <li class="one-icon">
                    <a data-toggle="tab-post" href="javascript:void(0);">
                        <span class="menu-icon">
                            <i class="fa fa-user fa-fw"></i>
                        </span>
                    </a>
                </li>
                <li class="one-icon">
                    <a data-toggle="tab-post" href="javascript:void(0);">
                        <span class="menu-icon">
                            <i class="fa fa-camera fa-fw"></i>
                        </span>
                    </a>
                </li>
                <li class="one-icon">
                    <a data-toggle="tab-post" href="javascript:void(0);">
                        <span class="menu-icon">
                            <i class="fa fa-smile-o fa-fw"></i>
                        </span>
                    </a>
                </li>
                <li class="pull-right">
                    <a data-toggle="tab-post" href="javascript:void(0);" style="border-left:1px solid rgba(255,255,255,.3)">
                        <span class="menu-icon">
                            <i class="fa fa-check fa-fw"></i>
                        </span>
                        <span class="menu-text">
                            Post
                        </span>
                    </a>
                </li>

            </ul>

        </div>

    </div> <!-- child-menu -->
</div>   <!-- vd_mega-menu-content -->