﻿@model ProfileManagement.ViewModels.NetworkIndexViewModel
@using ProfileManagement.StaticData

@{
    ViewData["Title"] = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var r = StaticEmailData.emailBody;
}


<div class="vd_title-section clearfix">
    <div class="vd_panel-header no-subtitle">
        <h1>Network</h1>
    </div>
</div>
<div class="vd_content-section clearfix">
    <div class="row" style="width:140%">
        <div class="col-sm-9">
            <div class="tabs widget">
                <ul class="nav nav-tabs widget">
                    <li class=""> <a data-toggle="tab" href="#projects-tab"> My Network <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
                </ul>
                <div class="tab-content">
                    <div id="projects-tab" class="tab-pane active">
                        <div class="pd-20">
                            @*<div class="input-group">
                                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <i class="fa fa-search"></i>

                                </div>*@
                            @*<div class="input-group-addon form-control right" >
                                    <input class="search_input fa fa-search" id="newSearch" type="text" name="" placeholder="Search...">
                                    <span><i class="fa fa-search"></i></span>
                                </div>*@
                            <table class="table table-striped table-hover" id="DynamicIndexTable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            <span>All &nbsp;</span>
                                            <input type="checkbox" id="flowcheckall" value="" />
                                        </th>
                                        <th>Logo / Photos</th>
                                        <th>Profile</th>
                                        <th>Interests/Expertise</th>
                                        <th>Status</th>
                                        <th>URL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                                var i = 1;
                                        foreach (var SingleUser in Model.MyNetworkUsers)
                                        {
                                            <tr>
                                                <td>
                                                    @(i++) 
                                                    <div class="hide">
                                                        @foreach (var item in SingleUser.EducationInfos)
                                                        {
                                                            <span>@item.InstituteName</span>
                                                            <span>@item.DegreeName</span>
                                                            <span>@item.Session</span>
                                                        }
                                                        @foreach (var item in SingleUser.ExperienceInfos)
                                                        {
                                                            <span>@item.CompanyName</span>
                                                            <span>@item.Designation</span>
                                                            <span>@item.Duration</span>
                                                        }
                                                        <span>@SingleUser.Email</span>
                                                        <span>@SingleUser.PhoneNumber</span>
                                                        <span>@SingleUser.Country</span>
                                                        <span>@SingleUser.City</span>
                                                        <span>@SingleUser.Designation</span>
                                                        <span>@SingleUser.CompanyName</span>
                                                        <span>@SingleUser.DateOfBirth</span>
                                                    </div>

                                                </td>
                                                <td><input type="checkbox" name="flowcheckIndividual" value="@SingleUser.Email;@SingleUser.Id;@SingleUser.FullName" /></td>
                                                @*<td><img height="80" width="80" src="@SingleUser.ProfilePicture"  alt="~/img/avatar2.jpg"></td>*@
                                                <td>
                                                    @{ if (SingleUser.ProfilePicture == null)
                                                        {<img height="80" width="80" src="~/img/avatar2.jpg">}
                                                        else
                                                        {
                                                            <img height="80" width="80" src="@SingleUser.ProfilePicture" alt="~/img/avatar2.jpg">
                                                        }

                                                    }
                                                </td>
                                                <td>@SingleUser.FullName</td>
                                                <td class="center">@SingleUser.Interests</td>
                                                <td class="center">
                                                    @{
                                                        var labelGrade = "";
                                                        if (SingleUser.Status == "Active")
                                                            labelGrade = "success";
                                                        else if (SingleUser.Status == "Inactive")
                                                            labelGrade = "warning";
                                                        else if (SingleUser.Status == "In a meeting")
                                                            labelGrade = "danger";

                                                        <span class="label label-@labelGrade">@SingleUser.Status </span>
                                                    }

                                                </td>
                                                <td class="menu-action rounded-btn">
                                                    <a asp-action="IndividualProfileData" asp-controller="Profile" asp-route-id="@SingleUser.Id.ToString()" class="btn menu-icon vd_bg-green" data-placement="top" data-toggle="tooltip" data-original-title="view">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="">
                                @*<input type="submit" id="submit_flowCheck" value='Send'/>*@
                                <a class="btn btn-primary" id="submit_flowCheck">Invite</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tab-content -->
            </div>
            <!-- tabs-widget -->
        </div>
    </div>
    <!-- row -->

</div>

<!--------------------------- Modal ----------------------->
@*/////////////////////////////////////////////////////////////*@
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="email_person_count" value="email_person_count" />
                <input type="hidden" id="PersonId" value="PersonId" />
                <input type="hidden" id="PersonName" value="PersonName" />
            </div>
            <div class="modal-body">
                @*<input type="text" id="getEmailId"/>
        <textarea rows="5"></textarea>*@
                                <div class="form-horizontal ">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-10">
                                                <label>Email To</label>
                                            </div>
                                            <br />
                                            <div class="col-md-12">
                                                <input class="form-control" id="PersonEmail" readonly value="" />
                                            </div>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <div class="col-md-12">
                                            @*<div class="col-md-10">
                                                <label>Subject</label>
                                            </div>
                                            <br />*@
                                            <div class="col-md-12">
                                                <input class="form-control" id="subject" placeholder="Subject" value="@StaticEmailData.subject"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @*<div class="col-md-10">
                                                <label>Email Body</label>
                                            </div>
                                            <br />*@
                                            <div class="col-md-12">
                                               @* <textarea class="form-control" id="emailTextBody" rows="4" placeholder="Write somthing"></textarea>*@
                                                <textarea class="TextContent" id="emailTextBody" rows="4" placeholder="Write somthing" name="example">@StaticEmailData.emailBody</textarea>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-0 col-md-10">
                                            <button class="btn btn-success" onclick="DeliverEmail()">Send</button>
                                            <a class="btn btn-danger" data-dismiss="modal">Close</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    @*<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
                </div>
    </div>
</div>



@section Scripts {

    <script type="text/javascript">
        //import { checked } from "modernizr";


        $(document).ready(function () {
            // var events = $('#events');
           $('#DynamicIndexTable').DataTable(
                {
                    "initComplete": function () {
                        // $("#datatableit_filter").detach().appendTo('#newSearch');
                        $('.dataTables_filter input[type="search"]').css({ 'width': '350px', 'display': 'inline-block' }).addClass('form-control');
                    },
                    "language": {
                        "search": "<i class='fa fa-search'></i>",
                        "paginate":
                        {
                            "previous": "<i class='fa fa-angle-double-left'></i>",
                            "next": "<i class='fa fa-angle-double-right'></i>"
                        },
                    },
                });
            var $submit = $("#submit_flowCheck").hide();
            var select_arr = [];

            $checkAll = $("#flowcheckall").click(function () {
                $('#DynamicIndexTable tbody input[type="checkbox"]').prop('checked', this.checked);
                $submit.toggle($checkAll.is(":checked"));

            });

            $cbs = $('input[name="flowcheckIndividual"]').click(function () {
                $submit.toggle($cbs.is(":checked"));
                var ss = $('[name="flowcheckIndividual"]:checked');
                //console.log(ss);
                //var select_arr = [];
                //$('[name="flowcheckIndividual"]:checked').each(function () {
                //    // select_arr.push($(this).data().pluck(2).toArray());
                //    var data = table.rows({select:true}).data().pluck(3).toArray();
                //});

                //var row = $(this).closest('tr');
                // //Get row data
                //// table.row($(this).parents('tr')).data()["position"];
                //console.log(row);
                //var dataId = table.row(row).data()[0];
                //console.log("row data is  " + dataId);

                //$("input:hidden[name=userId]").each(function () {
                //    //email_arr.push($(this).val());
                //    console.log("this value " + $(this).val());
                //});

            });


            $('#DynamicIndexTable tbody').on('click', 'input[type="checkbox"]', function (e) {
                //var $row = $(this).closest('tr');
                // Get row data
                //var data = table.row($row).data();
            });
            //var rows = $(myTable.$('input[type="checkbox"]').map(function () {
            //    return $(this).prop("checked") ? $(this).closest('tr') : null;
            //}));

            //var data = table.rows({ selected: true }).data().pluck(2).toArray();
            //

            //console.log(rows);


            // workable code
            //$sendEmail = $("#submit_flowCheck").click(function (e) {

            //    var email_arr = [];
            //    $("input:checkbox[name=flowcheckIndividual]:checked").each(function () {
            //        email_arr.push($(this).val());
            //    });
            //    console.log(email_arr);
            //});

             // workable code 2
            //$sendEmail = $("#submit_flowCheck").click(function (e) {

            //    var userId_arr = [];
            //    $("input:checkbox[name=flowcheckIndividual]:checked").each(function () {
            //        userId_arr.push($(this).val());
            //    });
            //    console.log(email_arr);
            //});


            //var table = $('#DynamicIndexTable').DataTable();
            //$('#submit_flowCheck').on('click', function () {
            //    var tblData = table.rows('.selected').data();
            //    var tmpData;
            //    $.each(tblData, function (i, val) {
            //        tmpData = tblData[i];
            //        alert(tmpData);
            //    });
            //})

            //for sending email purpose=> below given  for getting those email which have to be sent

            $("#submit_flowCheck").click(function (e) {
                $('#exampleModalCenter').modal('show');

                var emailAndId_arr = [];
                $("input:checkbox[name=flowcheckIndividual]:checked").each(function () {
                    emailAndId_arr.push($(this).val());
                });
                var emailArr = [];
                var UserIdArr = [];
                var NameArr = [];
                for (var i = 0; i < emailAndId_arr.length; i++) {
                    var s = emailAndId_arr[i].split(';');
                    emailArr[i] = s[0];
                    UserIdArr[i] = s[1];
                    NameArr[i] = s[2];
                }
                console.log(emailAndId_arr);
                $('#PersonEmail').val(emailArr);
                $('#PersonId').val(UserIdArr);
                $('#PersonName').val(NameArr);

                console.log(emailAndId_arr.length);
                $('#email_person_count').val(emailAndId_arr.length);

            });


            $('.TextContent').richText();
        });

         function DeliverEmail() {
            var totalPerson = $('#email_person_count').val();
            console.log("total Person: " + totalPerson);
            var emailTo = $('#PersonEmail').val().split(',');
            var userId = $('#PersonId').val().split(',');
             var userName = $('#PersonName').val().split(',');
            var emailArr = [];
            var UserIdArr = [];
             var UserNameArr = [];
            for (var i = 0; i < emailTo.length; i++) {
               // console.log(emailTo[i]);
                emailArr[i] = emailTo[i];
                UserIdArr[i] = userId[i];
                UserNameArr[i] = userName[i];
            }
            var emailSubject = $('#subject').val();
            console.log(emailSubject);
            var emailBody = $('#emailTextBody').val();
            console.log(emailBody);
            console.log("========");
            console.log(emailArr);
            console.log(UserIdArr);
             console.log(UserNameArr);

            var SendEmailData = {
                "EmailTo": emailArr,
                "Subject": emailSubject,
                "EmailBody": emailBody,
                "UserIdTo": userId,
                "FullNameArr": UserNameArr
            };

            $.ajax({
                type: "POST",
                url:"@Url.Action("SendEmailInfo")",
                dataType: "json",
                data: { emailModelData: SendEmailData },
                success: function (response) {
                    console.log(response.message);
                    $('#exampleModalCenter').modal('hide');
                },
                error: function (response) {
                    console.log(response.message);
                }
            });


        }
    </script>

}