﻿
@{
    ViewData["Title"] = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="vd_title-section clearfix">
    <div class="vd_panel-header no-subtitle">
        <h1>Network</h1>
    </div>
</div>
<div class="vd_content-section clearfix">
    <div class="row" style="width:140%">
        <div class="col-sm-9">
            <div class="tabs widget">
                <ul class="nav nav-tabs widget">
                    <li class=""> <a data-toggle="tab" href="#projects-tab"> My Network <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
                </ul>
                <div class="tab-content">
                    <div id="projects-tab" class="tab-pane active">
                        <div class="pd-20">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Logo / Photos</th>
                                        <th>Profile</th>
                                        <th>Interests/Expertise</th>
                                        <th>Status</th>
                                        <th>URL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><img height="80" src="~/img/avatar.jpg" alt="example image"></td>
                                        <td>Microsoft- Redmond, Washington, United States</td>
                                        <td class="center">Machine Learing, Natural Language Processing</td>
                                        <td class="center">
                                            <span class="label label-warning">Inactive</span>
                                        </td>
                                        <td class="menu-action rounded-btn">
                                            <a href="@Url.Action("Index", "Profile")" class="btn menu-icon vd_bg-green" data-placement="top" data-toggle="tooltip" data-original-title="view">
                                                <i class="fa fa-eye"></i>
                                            </a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><img height="80" src="~/img/avatar-2.jpg" alt="example image"></td>
                                        <td>Google- Mountain View, California, United States </td>
                                        <td class="center">Machine Learing, Deep Learning</td>
                                        <td class="center">
                                            <span class="label label-danger">In a meeting</span>
                                        </td>

                                        <td class="menu-action rounded-btn">
                                            <a href="@Url.Action("Index", "Profile")" class="btn menu-icon vd_bg-green" data-placement="top" data-toggle="tooltip" data-original-title="view">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><img height="80" src="~/img/avatar-3.jpg" alt="example image"></td>
                                        <td>Ted Talks- New York, U.S. Vancouver, British Columbia, Canada </td>
                                        <td class="center">Content Writing</td>
                                        <td class="center">
                                            <span class="label label-success">Available</span>
                                        </td>

                                        <td class="menu-action rounded-btn">
                                            <a href="@Url.Action("Index", "Profile")" class="btn menu-icon vd_bg-green" data-placement="top" data-toggle="tooltip" data-original-title="view">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td><img height="80" src="~/img/avatar-4.jpg" alt="example image"></td>
                                        <td>Stanford University- 450 Serra Mall, Stanford, CA 94305, United States </td>
                                        <td class="center">Theory of Computation</td>
                                        <td class="center">
                                            <span class="label label-success">Available</span>
                                        </td>

                                        <td class="menu-action rounded-btn">
                                            <a href="@Url.Action("Index", "Profile")" class="btn menu-icon vd_bg-green" data-placement="top" data-toggle="tooltip" data-original-title="view">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td><img height="80" src="~/img/avatar-5.jpg" alt="example image"></td>
                                        <td>Princeton University- Princeton, NJ 08544, United States </td>
                                        <td class="center">Human-Computer Interactions</td>
                                        <td class="center">
                                            <span class="label label-success">Available</span>
                                        </td>

                                        <td href="@Url.Action("Index", "Profile")" class="menu-action rounded-btn">
                                            <a class="btn menu-icon vd_bg-green" data-placement="top" data-toggle="tooltip" data-original-title="view">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tab-content -->
            </div>
            <!-- tabs-widget -->
        </div>
    </div>
    <!-- row -->

</div>
