﻿@model IEnumerable<ProfileManagement.Models.EmailData>
@using ProfileManagement.StaticData

@{
    ViewData["Title"] = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vd_content-section clearfix">
    <div class="row" style="width:140%">
        <div class="col-sm-9">
            <div class="tabs widget">
                <ul class="nav nav-tabs widget">
                    <li class=""> <a data-toggle="tab" href="#inbox-tab"> My Network <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
                </ul>
                <div class="tab-content">
                    <div id="inbox-tab" class="tab-pane active">
                        <div class="pd-20">
                            @*<div class="input-group">
                                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <i class="fa fa-search"></i>

                                </div>*@
                            @*<div class="input-group-addon form-control right" >
                                    <input class="search_input fa fa-search" id="newSearch" type="text" name="" placeholder="Search...">
                                    <span><i class="fa fa-search"></i></span>
                                </div>*@
                            <div id="events">
                                Event summary - new events added at the top
                            </div>
                            <table class="table table-striped table-hover" id="InboxTable" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>From</th>
                                        <th>Address</th>
                                        <th>Subject</th>
                                        <th>Date</th>
                                        <th class="hide"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var i = 1;
                                        foreach (var inboxItem in Model)
                                        {
                                            <tr>
                                                <td>@(i++)</td>
                                                <td>@inboxItem.FullName</td>
                                                <td>@inboxItem.FromUserMail</td>
                                                <td>@inboxItem.EmailSubject</td>
                                                <td>@Convert.ToDateTime(inboxItem.DateTime).Date.ToString("dd-MMM-yyyy")</td>
                                                <td class="hide">@inboxItem.EmailBody</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="">
                                @*<input type="submit" id="submit_flowCheck" value='Send'/>*@
                                @*<a class="btn btn-primary" id="submit_flowCheck">Send</a>*@
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tab-content -->
            </div>
            <!-- tabs-widget -->
        </div>
    </div>
    <!-- row -->

</div>

<!--------------------------- Modal ----------------------->
@*/////////////////////////////////////////////////////////////*@
<div class="modal fade" id="InboxModal" tabindex="-1" role="dialog" aria-labelledby="InboxModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="email_person_count" value="email_person_count" />
                <input type="hidden" id="PersonId" value="PersonId" />
                <input type="hidden" id="PersonName" value="PersonName" />
            </div>
            <div class="modal-body">
                @*<input type="text" id="getEmailId"/>
                    <textarea rows="5"></textarea>*@
                <div class="form-horizontal ">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-10">
                                <label>Email To</label>
                            </div>
                            <br />
                            <div class="col-md-12">
                                <input class="form-control" id="PersonEmail" readonly value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @*<div class="col-md-10">
                                    <label>Subject</label>
                                </div>
                                <br />*@
                            <div class="col-md-12">
                                <input class="form-control" id="subject" readonly placeholder="Subject" value=""/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @*<div class="col-md-10">
            <label>Email Body</label>
        </div>
        <br />*@
                            <div class="col-md-12">
                                @* <textarea class="form-control" id="emailTextBody" rows="4" placeholder="Write somthing"></textarea>*@
                                <textarea class="TextContent" placeholder="Write somthing" id="emailBody" name="emailText">
                                          
                                    </textarea>

                            </div>
                            <div id="editor">
                            </div>
                            <!--<div id="div_editor1">-->
                                @*<p>This is a default toolbar demo of Rich text editor.</p>*@
                            <!--</div>-->
                            @*<p id="test2">This is another paragraph.</p>
        <input type="text" name="name" value="" />*@
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-0 col-md-10">
                            <button class="btn btn-success" onclick="DeliverEmail()">Send</button>
                            <a class="btn btn-danger" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {

        var table = $('#InboxTable').DataTable({
            //select: true,
            //search: false
        });
        $('.TextContent').richText();
        //$('#div_editor1').richText();
        $('#InboxTable tbody').on('click', 'tr', function () {
            var rowData = table.row(this).data();
            $('#InboxModal').modal('show');
            $('#PersonEmail').val(rowData[2]);
            $('#subject').val(rowData[3]);



            //$('.TextContent').text(rowData[5]);
            $('#emailBody').text('<b>Hello Bangladesh</b>');



            $('#editor').html(rowData[5]);
            //$('#emailBody').html(rowData[5]).text;
           // $("#editor").html("sadsjakndsajnd").text();
            //html($('#emailBody').val(rowData[5])).text();
           // $('#emailBody')[0].innerHTML = $('#subject').val(rowData[3]);
            //$("#test2").html(""+rowData[5]);
            // $('#emailTextBody').html($('#editor').val());
            //$('#emailTextBody').appendTo($('#editor').val());
           // $('.richText-editor').val($('#editor').html(rowData[5]));
            //$(this).toggleClass('selected');
            //var $row = $(this).closest('tr');
            //console.log($row.data);
            //alert($(this).val());
            // alert(table.rows('.selected').data());
            //var data = $('#InboxTable').DataTable().row('.selected').data();
            //var data = $(table.rows({ selected: true }).data()).attr("id");
            console.log(rowData);

            //   var editor1 = new RichTextEditor("#div_editor1");
            //$('#div_editor1').text("Use inline HTML or setHTMLCode to init the default content.");
            //$('#div_editor1').text(rowData[2]);

        });

        //$('#button').click(function () {
        //    alert(table.rows('.selected').data().length + ' row(s) selected');
        //});

        //$('.TextContent').richText();

    });
</script>