﻿@model IEnumerable<ProfileManagement.Models.EmailData>
@using ProfileManagement.StaticData

@{
    ViewData["Title"] = "Mail OutBox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vd_content-section clearfix">
    <div class="row" style="width:140%">
        <div class="col-sm-9">
            <div class="tabs widget">
                <ul class="nav nav-tabs widget">
                    <li class=""> <a data-toggle="tab" href="#inbox-tab"> My Network <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
                </ul>
                <div class="tab-content">
                    <div id="inbox-tab" class="tab-pane active">
                        <div class="pd-20">
                            @*<div class="input-group">
                                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <i class="fa fa-search"></i>

                                </div>*@
                            @*<div class="input-group-addon form-control right" >
                                    <input class="search_input fa fa-search" id="newSearch" type="text" name="" placeholder="Search...">
                                    <span><i class="fa fa-search"></i></span>
                                </div>*@
                            <table class="table table-striped table-hover" id="OutboxTable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>To</th>
                                        <th>Address</th>
                                        <th>Subject</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var i = 1;
                                        foreach (var inboxItem in Model)
                                        {
                                            <tr>
                                                <td>@(i++)</td>
                                                <td>@inboxItem.FullName</td>
                                                <td>@inboxItem.ToUserMail</td>
                                                <td>@inboxItem.EmailSubject</td>
                                                <td>@Convert.ToDateTime(inboxItem.DateTime).Date.ToString("dd-MMM-yyyy")</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="">
                                @*<input type="submit" id="submit_flowCheck" value='Send'/>*@
                                @*<a class="btn btn-primary" id="submit_flowCheck">Send</a>*@
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tab-content -->
            </div>
            <!-- tabs-widget -->
        </div>
    </div>
    <!-- row -->

</div>

<script>
    $(document).ready(function () {
        var table = $('#OutboxTable').DataTable();

        $('#OutboxTable tbody').on('click', 'tr', function () {
            //$(this).toggleClass('selected');
            //alert("hellow");
        });

        //$('#button').click(function () {
        //    alert(table.rows('.selected').data().length + ' row(s) selected');
        //});
    });
</script>