﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="vd_title-section clearfix">
    <div class="vd_panel-header no-subtitle">
        <h1>Profile</h1>
    </div>
</div>
<div class="vd_content-section clearfix">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel widget light-widget panel-bd-top">
                <div class="panel-heading no-title"> </div>
                <div class="panel-body">
                    <div class="text-center vd_info-parent"> <img alt="example image" src="~/img/big_bak.jpg"> </div>
                    <div class="row">
                        @*<div class="col-xs-12"> <a class="btn vd_btn vd_bg-green btn-xs btn-block no-br"><i class="fa fa-check-square append-icon"></i>Send Email</a> </div>*@
                        <div class="col-xs-12"> <a class="btn vd_btn vd_bg-green btn-xs btn-block no-br"><i class="fa fa-envelope append-icon"></i>Send Invitattion</a> </div>
                    </div>
                    <h4 class="font-semibold mgbt-xs-5">Md. Ashikur Rahman</h4>
                    <h5>Machine Learning Engineer</h5>
                    <p>I know that I know nothing</p>
                    <div class="mgtp-20">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td style="width:60%;">Status</td>
                                    <td><span class="label label-success">Active</span></td>
                                </tr>
                                <tr>
                                    <td>Rating</td>
                                    <td><i class="fa fa-star vd_yellow fa-fw"></i><i class="fa fa-star vd_yellow fa-fw"></i><i class="fa fa-star vd_yellow fa-fw"></i><i class="fa fa-star vd_yellow fa-fw"></i><i class="fa fa-star vd_yellow fa-fw"></i></td>
                                </tr>
                                <tr>
                                    <td>Member Since</td>
                                    <td> August 29, 2020 </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- panel widget -->

            <div class="panel widget light-widget">
                <div class="panel-body-list">
                    <h4 class="pd-20 mgbt-xs-0"><i class="fa fa-users mgr-10"></i>Recent Contacts</h4>
                    <div class="content-grid column-xs-2 column-sm-3 height-xs-auto mgbt-xs-20">
                        <div>
                            <ul class="list-wrapper">
                                <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="~/img/avatar.jpg"></span> </a> </li>
                                <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="~/img/avatar-3.jpg"></span> </a> </li>
                                <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="~/img/avatar-4.jpg"></span> </a> </li>
                                <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="~/img/avatar-5.jpg"></span> </a> </li>
                                <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="~/img/avatar-6.jpg"></span> </a> </li>
                                <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="~/img/avatar-7.jpg"></span> </a> </li>
                                <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="~/img/avatar-8.jpg"></span> </a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="closing text-center" style=""> <a href="#">See All Contacts<i class="fa fa-angle-double-right prepend-icon"></i></a> </div>
                </div>
            </div>
            <!-- panel widget -->
        </div>
        <div class="col-sm-9">
            <div class="tabs widget">
                <ul class="nav nav-tabs widget">
                    <li class="active"> <a data-toggle="tab" href="#profile-tab"> Profile <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
                </ul>
                <div class="tab-content">
                    <div id="profile-tab" class="tab-pane active">
                        <div class="pd-20">
                            <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="icon-user mgr-10 profile-icon"></i> ABOUT</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row mgbt-xs-0">
                                        <label class="col-xs-5 control-label">First Name:</label>
                                        <div class="col-xs-7 controls">Md Ashikur</div>
                                        <!-- col-sm-10 -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row mgbt-xs-0">
                                        <label class="col-xs-5 control-label">Last Name:</label>
                                        <div class="col-xs-7 controls">Rahman</div>
                                        <!-- col-sm-10 -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row mgbt-xs-0">
                                        <label class="col-xs-5 control-label">User Name:</label>
                                        <div class="col-xs-7 controls">ashik.rafi</div>
                                        <!-- col-sm-10 -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row mgbt-xs-0">
                                        <label class="col-xs-5 control-label">Email:</label>
                                        <div class="col-xs-7 controls">ashik.rafi@thekowcompany.com</div>
                                        <!-- col-sm-10 -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row mgbt-xs-0">
                                        <label class="col-xs-5 control-label">City:</label>
                                        <div class="col-xs-7 controls">Dhaka</div>
                                        <!-- col-sm-10 -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row mgbt-xs-0">
                                        <label class="col-xs-5 control-label">Country:</label>
                                        <div class="col-xs-7 controls">Bangladesh</div>
                                        <!-- col-sm-10 -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row mgbt-xs-0">
                                        <label class="col-xs-5 control-label">Birthday:</label>
                                        <div class="col-xs-7 controls">December 31, 1993</div>
                                        <!-- col-sm-10 -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row mgbt-xs-0">
                                        <label class="col-xs-5 control-label">Interests:</label>
                                        <div class="col-xs-7 controls">Deep Learning, Algorithms, Statistics & Probability</div>
                                        <!-- col-sm-10 -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row mgbt-xs-0">
                                        <label class="col-xs-5 control-label">Website:</label>
                                        <div class="col-xs-7 controls"><a href="https://github.com/ashikrafi/">https://github.com/ashikrafi</a></div>
                                        <!-- col-sm-10 -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row mgbt-xs-0">
                                        <label class="col-xs-5 control-label">Phone:</label>
                                        <div class="col-xs-7 controls">+8801675964080</div>
                                        <!-- col-sm-10 -->
                                    </div>
                                </div>
                            </div>
                            <hr class="pd-10">
                            <div class="row">
                                <div class="col-sm-7 mgbt-xs-20">
                                    <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-file-text-o mgr-10 profile-icon"></i> EXPERIENCE</h3>
                                    <div class="content-list content-menu">
                                        <ul class="list-wrapper">
                                            <li class="mgbt-xs-10"> <span class="menu-icon vd_green"><i class="fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="">Software Enginner</a> at <a href="">Proggasoft</a> <span class="menu-info"><span class="menu-date"> March 2015 ~ August 2016</span></span> </span> </li>
                                            <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="">Sr. Software Engineer</a> at <a href="">Smart Technologies BD Ltd.</a> <span class="menu-info"><span class="menu-date"> September 2016 ~ June 2020</span></span> </span> </li>
                                            <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="">Sr. Software Engineer</a> at <a href="">CutOutWiz</a> <span class="menu-info"><span class="menu-date"> July 2020 ~ Present</span></span> </span> </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-trophy mgr-10 profile-icon"></i> EDUCATION</h3>
                                    <div class="content-list content-menu">
                                        <ul class="list-wrapper">
                                            <li class="mgbt-xs-10"> <span class="menu-icon vd_green"><i class="fa  fa-circle-o"></i></span> <span class="menu-text"> B.Sc. in CSE at <a href="">AIUB</a> <span class="menu-info"><span class="menu-date"> 2011 ~ 2015</span></span> </span> </li>
                                            <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> Student at <a href="">Notre Dame College</a> <span class="menu-info"><span class="menu-date"> 2008 ~ 2010</span></span> </span> </li>
                                            <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> Student at <a href="">Motijheel Model High School</a> <span class="menu-info"><span class="menu-date"> 2004 ~ 2008 </span></span> </span> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- row -->
                            <hr class="pd-10">
                            <div class="row">
                                <div class="col-sm-7">
                                </div>
                                <!-- col-sm-7 -->
                                <div class="col-sm-5">
                                    <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-flask mgr-10 profile-icon"></i> SKILL</h3>
                                    <div class="skill-list">
                                        <div class="skill-name"> Deep Learning </div>
                                        <div class="progress  progress-sm">
                                            <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" class="progress-bar progress-bar-success "> <span class="sr-only">90%</span> </div>
                                        </div>
                                    </div>
                                    <div class="skill-list">
                                        <div class="skill-name"> Natural Language Processing </div>
                                        <div class="progress  progress-sm">
                                            <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-danger "> <span class="sr-only">20%</span> </div>
                                        </div>
                                    </div>
                                    <div class="skill-list">
                                        <div class="skill-name"> Image Processing </div>
                                        <div class="progress  progress-sm">
                                            <div style="width: 65%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-warning "> <span class="sr-only">50% Complete</span> </div>
                                        </div>
                                    </div>
                                    <div class="skill-list">
                                        <div class="skill-name"> Graph Algorithms </div>
                                        <div class="progress  progress-sm">
                                            <div style="width: 70%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-info "> <span class="sr-only">60% Complete</span> </div>
                                        </div>
                                    </div>
                                    <div class="skill-list">
                                        <div class="skill-name"> Communication </div>
                                        <div class="progress  progress-sm">
                                            <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" class="progress-bar progress-bar-success "> <span class="sr-only">95% Complete</span> </div>
                                        </div>
                                    </div>
                                    <div class="skill-list">
                                        <div class="skill-name"> Writing </div>
                                        <div class="progress  progress-sm">
                                            <div style="width: 30%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="45" role="progressbar" class="progress-bar progress-bar-warning "> <span class="sr-only">45% Complete</span> </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- col-sm-7 -->
                            </div>
                            <!-- row -->
                        </div>
                        <!-- pd-20 -->
                    </div>
                    <!-- home-tab -->
                </div>
                <!-- tab-content -->
            </div>
            <!-- tabs-widget -->
        </div>
    </div>
    <!-- row -->

</div>
